<!--The content of the web page-->

<div id="title">
	<h2><em><u>Other Desert Cities</u>  -- Mark Taper Forum</em> -- Tech Calendar:   #1  (11/4/2012)</h2>
</div>

<div id="calendar">
	<table>	
		<%= render 'layouts/day_names' %>
									<!-- FIRST ROW -->
		<%= render 'layouts/first_row_dates' %>
		<%= render 'layouts/first_row_banners' %>
								<!-- FIRST ROW EVENTS -->  
		<tr>
								<!-- FIRST Row Column 1 Monday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Actors' Day Off</p><br/>
				<p class="hang">Stage Crew Day Off</p><br/>
			</td>
								<!-- FIRST Row Column 2 Tuesday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">FOCUS</p>
															<!-- Timed events -->
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Neil Austin and Chris Cronin arrive AM to scope out the theatre <br/>
							Begin Focus as soon as ready
						</td>
					</tr>
					<tr>
						<td class="h">10:00</td>
						<td class="m">Stagehands Coffee Break</td>
					</tr>
					<tr>
						<td class="h">11:20</td>
						<td class="m">Run-thru in Room A (to 12:50)</td>
					</tr>
					</tr>
					<tr>
						<td class="h">11:50</td>
						<td class="m">Carps/Props/Elex Lunch <br />
							Audio Quiet Time with Chris Cronin (unless Cronin
							attends the run-thru in Room A)
						</td>
					</tr>
					<tr>
						<td class="h">12:50</td>
						<td class="m">Audio Crew Lunch <br/>
							(No Headsets for remaining crew)
						</td>
					<tr>
						<td class="h">1:00</td>
						<td class="m">Resume Focus</td>
					</tr>
					<tr>
						<td class="h">5:00</td>
						<td class="m">Carp/Prop/Elex End of Day <br />
							Audio Quiet Time with Chris Cronin
						</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">Audio End of Day (EOD)</td>
					</tr>
				</table>
			</td>
								<!-- FIRST Row Column 3 Wednesday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">FOCUS</p>
				<p class="hang">LOAD IN PROPS (Afternoon)</p>

															<!-- Timed events -->
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Continue Focus</td>
					</tr>
					<tr>
						<td class="h">TBD</td>
						<td class="m">Neil arrives</td>
					</tr>
					<tr>
						<td class="h">10:00</td>
						<td class="m">Stagehands Coffee Break</td>
					</tr>
					<tr>
						<td class="h">11:20</td>
						<td class="m">Run-thru in Room A (to 12:50)</td>
					</tr>
					<tr>
						<td class="h">12:20</td>
						<td class="m">Stagehands Lunch (All Depts)</td>
					</tr>
					<tr>
						<td class="h">1:30</td>
						<td class="m">CTG Truck at Annex <br/>
							Props/Elex Pick up at Annex, Deliver to MTF<br />
							Resume Focus
						</td>
					</tr>
					<tr>
						<td class="h">2:00</td>
						<td class="m">Dress Set <br/>
							Resume Focus when ready
						</td>
					<tr>
						<td class="h">3:00</td>
						<td class="m">CTG Truck P/U Costumes to deliver to MTF </td>
					</tr>
					<tr>
						<td class="h">6:30</td>
						<td class="m">Stagehands EOD</td>
					</tr>
				</table>
			</td>

								<!-- FIRST Row Column 4 Thursday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">FOCUS in the morning</p>
				<p class="hang">LOAD IN COSTUMES AT MTF</p>				
				<p class="hang">FULL TECH/DRESS BEGINS</p>

															<!-- Timed events -->
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Notes TBD</td>
					</tr>
					<tr>
						<td class="h">10:30</td>
						<td class="m">Wardrobe Call - Check in Costumes
						</td>
					</tr>
					<tr>
						<td class="h">12:30</td>
						<td class="m">Wardrobe Lunch
						</td>
					</tr>
					<tr>
						<td class="h">12:50</td>
						<td class="m">Stagehands Lunch </td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">Stage Doorperson called </td>
					</tr>
					<tr>
						<td class="h">1:30</td>
						<td class="m">Wardrobe back from lunch<br />
							Hair/Make-up Called
						</td>
					</tr>
					<tr>
						<td class="h">2:00</td>
						<td class="m">Actors' half-hour into costumes<br/>
							Stagehands back from lunch
						</td>
					</tr>
					<tr>
						<td class="h">2:30</td>
						<td class="m">ACTORS ON STAGE - Begin Tech</td>
					</tr>
					<tr>
						<td class="h">5:45</td>
						<td class="m">Actors out of Costumes</td>
					</tr>
					<tr>
						<td class="h">6:20</td>
						<td class="m">Stagehands Dinner</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">Actors' half-hour into costumes<br/>
							Stagehands, Wardrobe, Hair/Make-up back from dinner
						</td>
					</tr>
					<tr>
						<td class="h">8:00</td>
						<td class="m">RESUME TECH REHSL</td>
					</tr>
					<tr>
						<td class="h">11:15</td>
						<td class="m">Actors out of costumes<br/>
							<em>Note: Actors must break earlier if cleanup is required</em><br/>Power down lighting console</td>
					</tr>
					<tr>
						<td class="h">11:30</td>
						<td class="m">EOD - Tech Notes</td>
					</tr>
				</table>

			</td>
								<!-- FIRST Row Column 5 Friday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">10/12 Tech Rehearsal</p>
															<!-- Timed events -->
				
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Tech Work TBD</td>
					</tr>
					<tr>
						<td class="h">11:30</td>
						<td class="m">Stage Doorperson Called</td>
					</tr>
					<tr>
						<td class="h">11:50</td>
						<td class="m">Stagehands Lunch</td>
					</tr>
					<tr>
						<td class="h">12:30</td>
						<td class="m">Actors' Half-hour<br/>
							Wardrobe, Hair called
						</td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">RESUME TECH REHSL</td>
					</tr>
					<tr>
						<td class="h">5:15</td>
						<td class="m">Out of costumes</td>
					</tr>
					<tr>
						<td class="h">5:30</td>
						<td class="m">Wardrobe, Hair Dinner</td>
					</tr>
					<tr>
						<td class="h">5:50</td>
						<td class="m">Stagehands Dinner</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">Actors' Half-hour<br/>
							Stagehands, Wardrobe, Hair back from dinner
						</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">RESUME TECH REHSL</td>
					</tr>
					<tr>
						<td class="h">11:15</td>
						<td class="m">Out of costumes<br />
							Power down lighting console</td>
					</tr>
					<tr>
						<td class="h">11:30</td>
						<td class="m">EOD - Tech Notes</td>
					</tr>
				</table>

			</td>
								<!-- FIRST Row Column 6 Saturday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">PAINT CALL</p>
				<p class="hang">8/10 Tech Rehearsal</p>
															<!-- Timed events -->
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Paint Call</td>
					</tr>
					<tr>
						<td class="h">12:50</td>
						<td class="m">Stagehands Lunch</td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">Stage Doorperson called </td>
					</tr>
					<tr>
						<td class="h">2:00</td>
						<td class="m">Actors' Half-hour into costumes
							Stagehands back from lunch<br/>
							Wardrobe, Hair called
						</td>
					</tr>
					<tr>
						<td class="h">2:30</td>
						<td class="m">RESUME TECH REHSL</td>
					</tr>
					<tr>
						<td class="h">5:30</td>
						<td class="m">Out of costumes</td>
					</tr>
					<tr>
						<td class="h">5:50</td>
						<td class="m">Stagehands Dinner</td>
					</tr>
					<tr>
						<td class="h">6:00</td>
						<td class="m">Wardrobe, Hair Dinner</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">Half-hour into costumes<br/>
							Stagehands, Wardrobe, Hair back from dinner
						</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">RESUME TECH REHSL</td>
					</tr>
					<tr>
						<td class="h">11:15</td>
						<td class="m">Out of costumes<br />
							Power down lighting console</td>
					</tr>
					<tr>
						<td class="h">11:30</td>
						<td class="m">EOD - Tech Notes</td>
					</tr>
				</table>
			</td>
								<!-- FIRST Row Column 7 Sunday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">PAINT CALL</p>
				<p class="hang">10/12 Tech Rehearsal</p>
															<!-- Timed events -->
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Paint Call</td>
					</tr>
					<tr>
						<td class="h">11:30</td>
						<td class="m">Stage Doorperson called </td>
					</tr>
					<tr>
						<td class="h">11:50</td>
						<td class="m">Stagehands Lunch<br />
							(Except 1 props asst)</td>
					</tr>
					<tr>
						<td class="h">12:30</td>
						<td class="m">Actors' Half-hour into costumes<br/>
							Wardrobe, Hair called
						</td>
					</tr>
					<tr>
						<td class="h">12:50</td>
						<td class="m">Props asst takes lunch</td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">RESUME TECH REHSL<br/>
							Stagehands (except 1 props asst) back from lunch
						</td>
					</tr>
					<tr>
						<td class="h">5:15</td>
						<td class="m">Out of costumes</td>
					</tr>
					<tr>
						<td class="h">5:30</td>
						<td class="m">Wardrobe, Hair Dinner</td>
					</tr>
					<tr>
						<td class="h">5:50</td>
						<td class="m">Stagehands Dinner</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">Actors' Half-hour<br/>
							Stagehands, Wardrobe, Hair back from dinner
						</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">RESUME TECH REHSL</td>
					</tr>
					<tr>
						<td class="h">11:15</td>
						<td class="m">Out of costumes<br />
							Power down lighting console</td>
					</tr>
					<tr>
						<td class="h">11:30</td>
						<td class="m">EOD - Tech Notes</td>
					</tr>
				</table>
			</td>
		</tr>
								<!-- END OF FIRST ROW -->  

									<!-- SECOND ROW -->
									<!-- Dates above the SECOND Row of Cells -->
		<tr>
			<td class="d">30</td>
			<td class="d">31</td>
			<td class="d">August 1</td>
			<td class="d">2</td>
			<td class="d">3</td>
			<td class="d">4</td>
			<td class="d">5</td>
		</tr>
									<!-- SECOND row banners - stripe 1 -->
		<tr>
			<td class="o"> </td>
			<td class="b" colspan=1>
				<p id="boxed">Final Dress / Photo</p>
			</td>
			<td class="b" colspan=5>
				<p id="boxedflushright">Previews >></p>
			</td>
		</tr>
									<!-- Spacer Row -->
		<tr>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
		</tr>
									<!-- SECOND row banners - stripe 2 -->
		<tr>
			<td class="b" colspan=7>
				<p id= "boxedbleedtravel"><< CHRISTOPHER ORAM / NEIL AUSTIN IN LA >></p>
			</td>
		</tr>	
									<!-- Spacer Row -->
		<tr>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
		</tr>

									<!-- SECOND row banners - stripe 3 -->
		<tr>
			<td class="b" colspan=6>
				<p id= "boxedflushlefttravel"><< CHRIS CRONIN IN LA</p>
			</td>
			<td class="b" colspan=1>
				<p id= "boxedtravel">CRONIN DEPARTS</p>
			</td>
		</tr>	
									<!-- Spacer Row -->
		<tr>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
		</tr>


								<!-- SECOND ROW EVENTS -->  
		<tr>
								<!-- SECOND Row Column 1 Monday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">DAY OFF</p>
			</td>
								<!-- SECOND Row Column 2 Tuesday -->
			<td class="i">
															<!-- Full day events-->

															<!-- Timed events -->
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Notes, set up for rehearsal</td>
					</tr>
					<tr>
						<td class="h">10:00</td>
						<td class="m">Fire Marshal walk-through</td>
					</tr>
					<tr>
						<td class="h">11:50</td>
						<td class="m">Stagehands Lunch</td>
					</tr>
					<tr>
						<td class="h">12:30</td>
						<td class="m">Actors' Half-hour into costumes<br/>
							Wardrobe, Hair called
						</td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">Actors on stage in costume</td>
					</tr>
					<tr>
						<td class="h">5:00</td>
						<td class="m">Out of costume<br/>
							Stagehands clean up<br />
							<em>Note:  Actors may rehearse longer if 
								no cleanup is required</em>
						</td>
					</tr>
					<tr>
						<td class="h">5:30</td>
						<td class="m">Wardrobe, Hair dinner</td>
					</tr>
					<tr>
						<td class="h">5:50</td>
						<td class="m">Stagehands dinner</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">Actors' Half-hour into costumes<br/>
							Stagehands, Wardrobe, Hair back from dinner</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">Actors on stage -- <b><u>Photo Setups</u></b> if necessary</td>
					</tr>
					<tr>
						<td class="h">8:00</td>
						<td class="m"><b><u>Invited (?) Dress Rehearsal w/ Photographer</u></b> (7:30 if no setups are required)</td>
					</tr>
					<tr>
						<td class="h">9:30</td>
						<td class="m">Dress Rehearsal ends, audience clears<br />
							Actors continue to rehearse, TBD
						</td>
					</tr>
					<tr>
						<td class="h">10:30</td>
						<td class="m">Out of costumes<br />
							Stagehands clean up<br />
							Tech Notes
						</td>
					</tr>
					<tr>
						<td class="h">11:00</td>
						<td class="m">Wardrobe, Hair EOD</td>
					</tr>
					<tr>
						<td class="h">11:30</td>
						<td class="m">Stagehands EOD</td>
					</tr>
				</table>
			</td>
								<!-- SECOND Row Column 3 Wednesday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Afternoon Rehsl / First Preview</p>
															<!-- Timed events -->
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Notes, set up for rehearsal</td>
					</tr>
					<tr>
						<td class="h">11:50</td>
						<td class="m">Stagehands Lunch</td>
					</tr>
					<tr>
						<td class="h">12:30</td>
						<td class="m">Actors' Half-hour into costumes<br/>
							Wardrobe, Hair called
						</td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">Actors on stage in costume</td>
					</tr>
					<tr>
						<td class="h">4:30</td>
						<td class="m">Out of Costume<br />
							Stagehands clean up<br />
							Crew strikes tech tables<br/>
							<em>Note:  Can happen at 5:00 if no cleanup required</em>
						</td>
					</tr>
					<tr>
						<td class="h">5:30</td>
						<td class="m">Wardrobe, Hair dinner</td>
					</tr>
					<tr>
						<td class="h">5:50</td>
						<td class="m">Stagehands Dinner</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">Stagehands resume setup</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">Half-hour</td>
					</tr>
					<tr>
						<td class="h">8:00</td>
						<td class="m"><b><u>First Preview Performance</u></b></td>
					</tr>
					<tr>
						<td class="h">9:30</td>
						<td class="m">Carps/Props clean up<br />
							Tech Notes
						</td>
					</tr>
					<tr>
						<td class="h">10:30</td>
						<td class="m">Carps/Props finish</td>
					</tr>
				</table>

								<!-- SECOND Row Column 4 Thursday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Afternoon Rehsl / Preview</p>
															<!-- Timed Events-->
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Notes, set up for rehearsal</td>
					</tr>
					<tr>
						<td class="h">11:50</td>
						<td class="m">Stagehands Lunch</td>
					</tr>
					<tr>
						<td class="h">12:30</td>
						<td class="m">Actors' Half-hour into costumes<br/>
							Wardrobe, Hair called
						</td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">Actors on stage in costume</td>
					</tr>
					<tr>
						<td class="h">5:00</td>
						<td class="m">Out of Costume<br />
							Stagehands clean up
						</td>
					</tr>
					<tr>
						<td class="h">5:30</td>
						<td class="m">Wardrobe, Hair dinner</td>
					</tr>
					<tr>
						<td class="h">5:50</td>
						<td class="m">Stagehands Dinner</td>
					</tr>
					<tr>
						<td class="h">6:30</td>
						<td class="m">Wardrobe, Hair back from dinner</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">Stagehands resume setup</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">Half-hour</td>
					</tr>
					<tr>
						<td class="h">8:00</td>
						<td class="m">Preview</td>
					</tr>
					<tr>
						<td class="h">9:30</td>
						<td class="m">Carps/Props clean up<br />
							Tech Notes
						</td>
					</tr>
					<tr>
						<td class="h">10:30</td>
						<td class="m">Carps/Props finish</td>
					</tr>
				</table>

			</td>
								<!-- SECOND Row Column 5 Friday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Afternoon Rehsl / Preview</p>
															<!-- Timed Events-->
				<table class="mini_cell">
					<tr>
						<td class="h">8:00</td>
						<td class="m">Notes, set up for rehearsal</td>
					</tr>
					<tr>
						<td class="h">11:50</td>
						<td class="m">Stagehands Lunch</td>
					</tr>
					<tr>
						<td class="h">12:30</td>
						<td class="m">Actors notes in lobby<br/>
						</td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">Actors on stage in costume pieces only<br />
							Dennis called (no dressers)<br />
							<em>No Hair/Make-up called from this point forward 
							(except possibly for B-Roll on Sat)</em>
						</td>
					</tr>
					<tr>
						<td class="h">5:00</td>
						<td class="m">Actors Dinner<br />
							Dennis Dinner <br />
							Stagehands clean up
						</td>
					</tr>
					<tr>
						<td class="h">5:50</td>
						<td class="m">Stagehands Dinner</td>
					</tr>
					<tr>
						<td class="h">6:00</td>
						<td class="m">Dennis back from dinner</td>
					</tr>
					<tr>
						<td class="h">6:30</td>
						<td class="m">Dressers called</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">Stagehands resume setup</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">Half-hour</td>
					</tr>
					<tr>
						<td class="h">8:00</td>
						<td class="m">Preview</td>
					</tr>
					<tr>
						<td class="h">9:30</td>
						<td class="m">Carps/Props clean up<br />
							Tech Notes
						</td>
					</tr>
					<tr>
						<td class="h">10:30</td>
						<td class="m">Carps/Props finish</td>
					</tr>
				</table>

			</td>
								<!-- SECOND Row Column 6 Saturday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Afternoon Rehsl / Preview</p>
				<p class="hang">B-Roll shoot</p>
															<!-- Timed events -->
				<table class="mini_cell">
					<tr>
						<td class="h"><b>10:00</b></td>
						<td class="m">Set up for rehearsal, B-Roll</td>
					</tr>
					<tr>
						<td class="h">11:20</td>
						<td class="m">Audio Lunch
					</tr>
					<tr>
						<td class="h">11:50</td>
						<td class="m">Stagehands (CPE) Lunch</td>
					</tr>
					<tr>
						<td class="h">12:30</td>
						<td class="m">Actors' Half-hour into costumes<br/>
							Wardrobe, Hair called<br />
							Audio back from lunch<br />
							<b><u>Cameras Set Up</u></b>
						</td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">Actors on stage in costume - B-Roll
						</td>
					</tr>
					<tr>
						<td class="h">4:30</td>
						<td class="m">Hair EOD
						</td>
					</tr>
					<tr>
						<td class="h">5:00</td>
						<td class="m">Actors Dinner<br />
							Wardrobe Dinner <br />
							Stagehands clean up
						</td>
					</tr>
					<tr>
						<td class="h">5:50</td>
						<td class="m">Stagehands Dinner</td>
					</tr>
					<tr>
						<td class="h">6:30</td>
						<td class="m">Wardrobe back from dinner</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">Stagehands resume setup</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">Half-hour</td>
					</tr>
					<tr>
						<td class="h">8:00</td>
						<td class="m">Preview</td>
					</tr>
					<tr>
						<td class="h">9:30</td>
						<td class="m">Carps/Props clean up<br />
							Tech Notes
						</td>
					</tr>
					<tr>
						<td class="h">10:30</td>
						<td class="m">Carps/Props finish</td>
					</tr>
				</table>
			</td>
								<!-- SECOND Row Column 7 Sunday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Two-performance day.  No rehearsal</p>
															<!-- Timed events -->
				
				<table class="mini_cell">
					<tr>
						<td class="h">11:00</td>
						<td class="m">Carp/Props Set up</td>
					</tr>
					<tr>
						<td class="h">11:30</td>
						<td class="m">Add Props Asst<br />
							Elex/Audio Set up<br />
							Wardrobe Called
						</td>
					</tr>
					<tr>
						<td class="h">12:30</td>
						<td class="m">Half-hour</td>
					</tr>
					<tr>
						<td class="h">1:00</td>
						<td class="m">Performance</td>
					</tr>
					<tr>
						<td class="h">2:30</td>
						<td class="m">Performance Ends<br />
							Carps/Props Clean up
						</td>
					</tr>
					<tr>
						<td class="h">3:30</td>
						<td class="m">Carps, Props, Wardrobe Dinner</td>
					</tr>
					<tr>
						<td class="h">4:30</td>
						<td class="m">Carp/Props Set up</td>
					</tr>
					<tr>
						<td class="h">5:00</td>
						<td class="m">Add Props Asst<br />
							Elex/Audio Set up<br />
							Wardrobe Called
						</td>
					</tr>
					<tr>
						<td class="h">6:00</td>
						<td class="m">Half-hour</td>
					</tr>
					<tr>
						<td class="h">6:30</td>
						<td class="m">Performance</td>
					</tr>
					<tr>
						<td class="h">8:00</td>
						<td class="m">Performance Ends<br />
							Carps/Props Clean up
						</td>
					</tr>
					<tr>
						<td class="h">9:00</td>
						<td class="m">Carps, Props, Wardrobe EOD</td>
					</tr>
				</table>
			</td>
		</tr>
								<!-- END OF SECOND ROW -->  

									<!-- THIRD ROW -->
									<!-- Dates above the THIRD Row of Cells -->
		<tr>
			<td class="d">6</td>
			<td class="d">7</td>
			<td class="d">8</td>
			<td class="d">9</td>
			<td class="d">10</td>
			<td class="d">11</td>
			<td class="d">12</td>
		</tr>
									<!-- THIRD row banners - stripe 1 -->
		<tr>
			<td class="o"> </td>
			<td class="b" colspan=5>
				<p id="boxed"><<  Previews </p>
			</td>
			<td class="b"> 
				<p id="boxed"> OPENING </p>				
			</td>
		</tr>
									<!-- Spacer Row -->
		<tr>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
		</tr>
									<!-- THIRD row banners - stripe 2 -->
		<tr>
			<td class="b" colspan=4>
				<p id= "boxedflushlefttravel"><< NEIL AUSTIN IN LA</p>
			</td>
			<td class="b" colspan=1>
				<p id= "boxedtravel"> NEIL AUSTIN DEPARTS</p>
			</td>
			<td class="o"> </td>
			<td class="o"> </td>
		</tr>	
									<!-- Spacer Row -->
		<tr>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
		</tr>
									<!-- THIRD row banners - stripe 3 -->
		<tr>
			<td class="b" colspan=7>
				<p id= "boxedbleedtravel"><< CHRISTOPHER ORAM IN LA >></p>
			</td>
		</tr>	
									<!-- Spacer Row -->
		<tr>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
			<td class="s"> </td>
		</tr>
								<!-- THIRD ROW EVENTS -->  
		<tr>
								<!-- THIRD Row Column 1 Monday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">DAY OFF</p>
			</td>
								<!-- THIRD Row Column 2 Tuesday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Afternoon Rehsl / Preview</p>
															<!-- Timed events -->

			</td>
								<!-- THIRD Row Column 3 Wednesday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Afternoon Rehsl / Preview</p>

								<!-- THIRD Row Column 4 Thursday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Afternoon Rehsl / Preview</p>
			</td>
								<!-- THIRD Row Column 5 Friday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Rehearsal TBD / Preview </p>
								<p class="hang">Freeze show</p>

			</td>
								<!-- THIRD Row Column 6 Saturday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">Two-performance day.  No rehearsal</p>
															<!-- Timed events -->
				
				<table class="mini_cell">
					<tr>
						<td class="h">2:00</td>
						<td class="m">Half-hour</td>
					</tr>
					<tr>
						<td class="h">2:30</td>
						<td class="m">Performance</td>
					</tr>
					<tr>
						<td class="h">7:30</td>
						<td class="m">Half-hour</td>
					</tr>
					<tr>
						<td class="h">8:00</td>
						<td class="m">Performance</td>
					</tr>
				</table>
			</td>
								<!-- THIRD Row Column 7 Sunday -->
			<td class="i">
															<!-- Full day events-->
				<p class="hang">One-performance day.  No rehearsal</p>
															<!-- Timed events -->
				
				<table class="mini_cell">
					<tr>
						<td class="h">6:30</td>
						<td class="m">Half-hour</td>
					</tr>
					<tr>
						<td class="h">7:00</td>
						<td class="m">OPENING</td>
					</tr>
				</table>
			</td>
		</tr>
								<!-- END OF THIRD ROW -->  



	</table>
<div/>

