<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- THIRD ROW -->

		<%= render 'layouts/third_row_dates' %>
		<%= render 'layouts/third_row_banners' %>
		<%= render 'layouts/third_row_events' %>

	</table>
</div>
