<!-- _row-22-banners.html.erb -->

<!-- Stripe 1 -->

<tr>
	<td class="o holiday"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>

<%= render 'layouts/spacer_row_holiday_mon' %>
