<!-- _row-26-events.html.erb -->

						<!-- TWENTY-SIXTH ROW EVENTS -->  
<tr>
						<!-- TWENTY-SIXTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Actors and Crew <br />
			DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-SIXTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Focus<br />
			Quiet Time</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Lunch All Depts</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Audio Quiet Time</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-SIXTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Focus<br />
			Dry Tech Transitions</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Lunch All Depts</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume Focus</td>
			</tr>
			<tr>
				<td class="h">3:00</td>
				<td class="m">Dry Tech Transitions?</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

						<!-- TWENTY-SIXTH Row Column 4 Thursday -->
	<td class="i holiday">
													<!-- Full day events-->
		<p class="hang">Independence Day<br />
			(Daylight Day of Rest)</p>
		
													<!-- Timed Events-->
	</td>
						<!-- TWENTY-SIXTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load In Props/ Costumes</p>
		<p class="hang">Dry Tech Transitions</p>
		<p class="hang">Actors on Stage</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Load Props from Annex to Theatre</td>
			</tr>
			<tr>
				<td class="h">TBD</td>
				<td class="m">ACTORS ON STAGE</td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-SIXTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 10/12</p>
													
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stage Work TBD</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour</td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-SIXTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 10/12</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stage Work TBD</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour</td>
			</tr>
		</table>

	</td>
</tr>
						<!-- END OF TWENTY-SIXTH ROW -->