<!-- _row-23-events.html.erb -->

						<!-- TWENTY-THIRD ROW EVENTS -->  
<tr>
						<!-- TWENTY-THIRD Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Equipment lifted to MTF roof</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-THIRD Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Begin Rehearsal Room prep</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-THIRD Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->

													<!-- Timed events -->

						<!-- TWENTY-THIRD Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Light Plot Due</p>

													<!-- Timed Events-->
	</td>
						<!-- TWENTY-THIRD Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang"></p>

													<!-- Timed Events-->

	</td>
						<!-- TWENTY-THIRD Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
													<!-- Timed events -->

	</td>
						<!-- TWENTY-THIRD Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		
													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF TWENTY-THIRD ROW -->