<!-- _row-29-dates.html.erb -->

<tr>
	<td class="d">Jul&nbsp;15</td>
	<td class="d">16</td>
	<td class="d">17</td>
	<td class="d">18</td>
	<td class="d">19</td>
	<td class="d">20</td>
	<td class="d">21</td>
</tr9