<!-- _row-24-events.html.erb -->

						<!-- TWENTY-FOURTH ROW EVENTS -->  
<tr>
						<!-- TWENTY-FOURTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load out Joe Turner</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-FOURTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">FIRST REHEARSAL</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-FOURTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Calgary Sign-off</p>
		
													<!-- Timed events -->

						<!-- TWENTY-FOURTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Emmet lays out show</p>

													<!-- Timed Events-->
	</td>
						<!-- TWENTY-FOURTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang"></p>

													<!-- Timed Events-->

	</td>
						<!-- TWENTY-FOURTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
													<!-- Timed events -->

	</td>
						<!-- TWENTY-FOURTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		
													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF TWENTY-FOURTH ROW -->