<!-- _row-26-events.html.erb -->

						<!-- TWENTY-SIXTH ROW EVENTS -->  
<tr>
						<!-- TWENTY-SIXTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Actors DAY OFF</p>
		<p class="hang">Load-in continues</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m">Finish Turntables, Start Walls</td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-SIXTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load-in continues</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m">Finish Walls, Land Ceiling</td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-SIXTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load-in continues</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m">Flying Windows</td>
			</tr>
			<tr>
				<td class="h"></td>
				<td class="m">Patch seams in walls and ceiling</td>
			</tr>
		</table>


						<!-- TWENTY-SIXTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load-in continues<br />
					Paint Call</p>
		
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m">Pre-write automation cues</td>
			</tr>
			<tr>
				<td class="h"></td>
				<td class="m">Paint seams in walls and ceiling</td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-SIXTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Carpet the Set</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>


	</td>
						<!-- TWENTY-SIXTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Crew Day Off</p>
													
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>


	</td>
						<!-- TWENTY-SIXTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Crew Day Off</p>
		
													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF TWENTY-SIXTH ROW -->