<!-- _row-18-dates.html.erb -->

<tr>
	<td class="d">Apr&nbsp;29</td>
	<td class="d">30</td>
	<td class="d">May&nbsp;1</td>
	<td class="d">2</td>
	<td class="d">3</td>
	<td class="d">4</td>
	<td class="d">5</td>
</tr>