<!-- _row-25-banners.html.erb -->

<!-- Stripe 1 -->

<tr>
	<td class="b" colspan=3>
		<p class="boxed maint">Smoke Hatch Installation and Testing Continues</p>
	</td>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p class="boxed show">Calgary Truck Arrives</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>

<%= render 'layouts/spacer_row' %>


<!-- Stripe 2 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=3>
		<p class="boxed show">Parallelogram - Pre-rig</p>
	</td>
	<td class="b" colspan=2>
		<p class="boxed show">Parallelogram - Load-in</p>
	</td>
	<td class="o"> </td>

<%= render 'layouts/spacer_row' %>


<!-- Stripe 3 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed">Parallelogram - Rehearsal Week Two</p>
	</td>
<%= render 'layouts/spacer_row' %>
