<!-- _row-21-events.html.erb -->

						<!-- TWENTY-FIRST ROW EVENTS -->  
<tr>
						<!-- TWENTY-FIRST Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang"></p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-FIRST Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang"></p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-FIRST Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->

													<!-- Timed events -->

						<!-- TWENTY-FIRST Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		
													<!-- Timed Events-->
	</td>
						<!-- TWENTY-FIRST Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Calgary progress meeting</p>

													<!-- Timed Events-->

	</td>
						<!-- TWENTY-FIRST Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
													<!-- Timed events -->

	</td>
						<!-- TWENTY-FIRST Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		
													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF TWENTY-FIRST ROW -->