<!-- _row-24-dates.html.erb -->

<tr>
	<td class="d">Jun&nbsp;10</td>
	<td class="d">11</td>
	<td class="d">12</td>
	<td class="d">13</td>
	<td class="d">14</td>
	<td class="d">15</td>
	<td class="d">16</td>
</tr>