<!-- _row-25-events.html.erb -->

						<!-- TWENTY-FIFTH ROW EVENTS -->  
<tr>
						<!-- TWENTY-FIFTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-FIFTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Begin pre-rig</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m">Flipper arrives</td>
			</tr>
			<tr>
				<td class="h"></td>
				<td class="m">Motors, soft goods and truss</td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-FIFTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Continue pre-rig</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m">Hang elex</td>
			</tr>
			<tr>
				<td class="h"></td>
				<td class="m">Fly automation, drop winches</td>
			</tr>
		</table>

						<!-- TWENTY-FIFTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Continue pre-rig</p>
		
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m">Pull Steeldeck</td>
			</tr>
			<tr>
				<td class="h"></td>
				<td class="m">Install Flipper?</td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-FIFTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load In Scenery</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m">F&D Truck</td>
			</tr>
			<tr>
				<td class="h"></td>
				<td class="m">Hang Ceiling, Start Deck</td>
			</tr>
		</table>

	</td>

						<!-- TWENTY-FIFTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load In Scenery</p>

													<!-- Timed events -->
													
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m">Finish Deck</td>
			</tr>
			<tr>
				<td class="h"></td>
				<td class="m">Rig Turntables, Flipper Plugs</td>
			</tr>
		</table>


	</td>
						<!-- TWENTY-FIFTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Crew Day Off</p>
		
													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF TWENTY-FIFTH ROW -->