<!-- _row-28-events.html.erb -->

						<!-- TWENTY-EIGHTH ROW EVENTS -->  
<tr>
						<!-- TWENTY-EIGHTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Actors DAY OFF</p>
		<p class="hang">Paint Call</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Props and Scenic Artists only</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-EIGHTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 8/10<br />
			Photo dress in evening</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stage Work TBD<br />
					<div class="new">House/ Work Light Dimmer Repair</div></td>
			</tr>
			<tr>
				<td class="h"><div class="new">9:30</div></td>
				<td class="m"><div class="new">Fire Marshal walk-through</div></td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Stagehands Back From Lunch<br />
					Wardrobe/ Hair called</td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Actors' Half-hour</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">ACTORS ON STAGE <br />
					Begin full dress/tech</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors out of costume to dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Wardrobe/ Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors' Half-hour<br />
					Crew back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Run-through w/ Photographer
					<div class="new">No Invited Dress</div></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-EIGHTH Row Column 3 Wednesday -->
	<td class="i">
		
													<!-- Full day events-->
		<p class="hang">FIRST PREVIEW</p>

		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stage work TBD</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour call</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Actors out of costume to Dinner<br />
					Strike Tech Tables</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Preview #1</td>
			</tr>
		</table>

						<!-- TWENTY-EIGHTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #2<br />
			Rehsls continue afternoons<br />
			during previews</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-EIGHTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #3</p>

													<!-- Timed Events-->

	</td>
						<!-- TWENTY-EIGHTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #4</p>

													<!-- Timed events -->

	</td>
						<!-- TWENTY-EIGHTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #5, #6<br />
			No Rehearsal</p>

													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF TWENTY-EIGHTH ROW -->