<!-- _row-29-events.html.erb -->

						<!-- TWENTY-NINTH ROW EVENTS -->  
<tr>
						<!-- TWENTY-NINTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-NINTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Rehearsal<br />
			No preview</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-NINTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #7</p>

													<!-- Timed events -->

						<!-- TWENTY-NINTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #8<br />
			Freeze Show</p>


													<!-- Timed Events-->
	</td>
						<!-- TWENTY-NINTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #9</p>


													<!-- Timed Events-->

	</td>
						<!-- TWENTY-NINTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #10, #11<br />
			No rehearsal</p>


													<!-- Timed events -->

	</td>
						<!-- TWENTY-NINTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->

		<p class="hang">Opening Night</p>

													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF TWENTY-NINTH ROW -->