<!-- _row-27-events.html.erb -->

						<!-- TWENTY-SEVENTH ROW EVENTS -->  
<tr>
						<!-- TWENTY-SEVENTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Actors and Crew <br />
			DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-SEVENTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Focus<br />
			Quiet Time</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus</td>
			</tr>
			<tr>
				<td class="h">TBD</td>
				<td class="m">Run-through in Rm A for ALD</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Elex Lunch</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Carp/ Prop/ Audio Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Elex back from Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">C/ P/ A/ back from Lunch</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Audio Quiet Time<br />
					C/ P/ LX/ EOD</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Audio EOD</td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-SEVENTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Focus<br />
			Load in Props<br />
				Dry Tech Transitions</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Production Meeting (Room&nbsp;A)</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Designer Run-through (Room&nbsp;A)</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch All Depts</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume Focus</td>
			</tr>
			<tr>
				<td class="h">2:00 </td>
				<td class="m">PARROT orientation at theatre</td>
			</tr>

			<tr>
				<td class="h">2:30</td>
				<td class="m">Load in props from Annex (TBC)</td>
			</tr>
			<tr>
				<td class="h">3:00</td>
				<td class="m">Dry Tech Transitions? <br />
					(after focus is complete)</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

						<!-- TWENTY-SEVENTH Row Column 4 Thursday -->
	<td class="i holiday">
													<!-- Full day events-->
		<p class="hang">Independence Day<br />
			(Daylight Day <br />of Rest)</p>
		
													<!-- Timed Events-->
	</td>
						<!-- TWENTY-SEVENTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Check In Costumes/ Wigs</p>
		<p class="hang">Dry Tech Transitions</p>
		<p class="hang">Actors on Stage</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Prep for rehearsal<br />
					Costumes Delivered to theatre</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Wardrobe Called<br />
					Check in costumes</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">Wardrobe Lunch</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Wardrobe back from lunch<br />
					Hair called - Check in wigs</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">ACTORS CALLED (on stage in costume pieces only)</td>
			</tr>
			<tr>
				<td class="h">5:45</td>
				<td class="m">Actors Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Wardrobe/ Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Crew back from dinner<br />
					Actors Resume Rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Actors Finish</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-SEVENTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Paint Call<br />
			Tech 10/12</p>
													
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stage Work TBD<br />
					<div class="new">Paint Call</div></td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour<br />
					Wardrobe/ Hair called<br />
					(Possible late start if Lighting needs time)</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">ACTORS ON STAGE <br />
					Begin full dress/tech</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Actors out of costume to dinner</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe/ Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors' Half-hour<br />
					Crew back from dinner</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-SEVENTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 10/12</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stage Work TBD</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour<br />
					Wardrobe/ Hair called</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage <br />
					Full dress/tech continues</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Actors out of costume to dinner</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe/ Hair Dinner<br />
					<div class="new">PM/TD/Props tech notes</div></td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors' Half-hour<br />
					Crew back from dinner</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Actors out of costume<br />
					<div class="new">Director tech notes</div></td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
</tr>
						<!-- END OF TWENTY-SEVENTH ROW -->