<!-- _row-23-dates.html.erb -->

<tr>
	<td class="d">Jun&nbsp;3</td>
	<td class="d">4</td>
	<td class="d">5</td>
	<td class="d">6</td>
	<td class="d">7</td>
	<td class="d">8</td>
	<td class="d">9</td>
</tr>