<!-- _row-19-dates.html.erb -->

<tr>
	<td class="d">May&nbsp;6</td>
	<td class="d">7</td>
	<td class="d">8</td>
	<td class="d">9</td>
	<td class="d">10</td>
	<td class="d">11</td>
	<td class="d">12</td>
</tr>