<!-- _row-22-events.html.erb -->

						<!-- TWENTY-SECOND ROW EVENTS -->  
<tr>
						<!-- TWENTY-SECOND Row Column 1 Monday -->
	<td class="i holiday">
													<!-- Full day events-->
		<p class="hang">Memorial Day</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-SECOND Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang"></p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-SECOND Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->

													<!-- Timed events -->

						<!-- TWENTY-SECOND Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		
													<!-- Timed Events-->
	</td>
						<!-- TWENTY-SECOND Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang"></p>

													<!-- Timed Events-->

	</td>
						<!-- TWENTY-SECOND Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
													<!-- Timed events -->

	</td>
						<!-- TWENTY-SECOND Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		
													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF TWENTY-SECOND ROW -->