<!-- _row-26-banners.html.erb -->

<!-- Stripe 1 -->

<tr>
	<td class="b" colspan=5>
		<p class="boxed show">Parallelogram - Continue Load-in</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>

<%= render 'layouts/spacer_row' %>

<!-- Stripe 2 -->


<tr>
	<td class="b" colspan=2>
		<p class="boxed travel"><< Ben Wojcik (F&D) in LA</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>

<%= render 'layouts/spacer_row' %>

<!-- Stripe 3 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed">Parallelogram - Rehearsal Week Three</p>
	</td>
<%= render 'layouts/spacer_row' %>
