<!-- _row-28-banners.html.erb -->

<!-- Stripe 1 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p class="boxed show">Final Dress</p>
	</td>
	<td class="b" colspan=1>
		<p class="boxed show">FIRST PREVIEW</p>
	</td>
	<td class="b" colspan=4>
		<p class="boxed show">Previews</p>
	</td>
	
<%= render 'layouts/spacer_row' %>


<!-- Stripe 2 -->

<tr>
	<td class="b" colspan=6>
		<p class="boxed travel flushleft"><< Todd Rosenthal, Rob Milburn in LA >></p>
	</td>
	<td class="o"> </td>


<%= render 'layouts/spacer_row' %>

<!-- Stripe 3 -->

<tr>
	<td class="b" colspan=7>
		<p class="boxed travel bleed"><< Jim Ingalls in LA >></p>
	</td>

<%= render 'layouts/spacer_row' %>



