<!-- _row-29-events.html.erb -->

						<!-- TWENTY-NINTH ROW EVENTS -->  
<tr>
						<!-- TWENTY-NINTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- TWENTY-NINTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">No Rehearsal<br />
			No preview</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- TWENTY-NINTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #7</p>

		<table class="mini_cell">
			<tr>
				<td class="h"><b>1:00</b></td>
				<td class="m"><b>Stagehands Called<br />
						Notes and set up for rehearsal (top of show)</b></td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Mara Called</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Dennis Called for pieces</td>
			</tr>
			<tr>
				<td class="h">2:30</td>
				<td class="m">U/S Fittings begin</td>
			</tr>
			<tr>
				<td class="h"><b>3:30</b></td>
				<td class="m"><b>Actors called for rehearsal</b></td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Rick, Vanessa Called</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Tricia Called</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Preview #7</td>
			</tr>
		</table>
													<!-- Timed events -->

						<!-- TWENTY-NINTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #8<br />
			Freeze Show</p>


													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h"><b>1:00</b></td>
				<td class="m"><b>Stagehands and Dennis Called<br />
						Notes and set up for rehearsal (top of show)</b></td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m"><b>Understudy rehearsal</b></td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Mara Called to the stage door</td>
			</tr>
			<tr>
				<td class="h"><b>3:00</b></td>
				<td class="m"><b>Principals called for rehearsal</b></td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Hair/ Tricia Called</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Preview #8</td>
			</tr>
		</table>


	</td>
						<!-- TWENTY-NINTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #9</p>


													<!-- Timed Events-->

	</td>
						<!-- TWENTY-NINTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #10, #11<br />
			No rehearsal</p>


													<!-- Timed events -->

	</td>
						<!-- TWENTY-NINTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->

		<p class="hang">Opening Night</p>

													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF TWENTY-NINTH ROW -->