<% provide(:title, "A Parallelogram - Tech Week 1") %>
<% provide(:issue_number, '#12') %>
<% provide(:issue_date, '7/18/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->

									<!-- SECOND ROW -->

									<!-- THIRD ROW -->

									<!-- FOURTH ROW -->

									<!-- FIFTH ROW -->


									<!-- EIGHTH ROW -->

									<!-- NINTH ROW -->



									<!-- TENTH ROW -->
		<%= render 'layouts/row-27-dates' %>
		<%= render 'parallel/row-27-banners' %>
		<%= render 'parallel/row-27-events' %>

									<!-- ELEVENTH ROW -->

									<!-- TWELFTH ROW -->



	</table>
</div>
