<!-- _row-15-dates.html.erb -->

<tr>
	<td class="d">Apr&nbsp;8</td>
	<td class="d">9</td>
	<td class="d">10</td>
	<td class="d">11</td>
	<td class="d">12</td>
	<td class="d">13</td>
	<td class="d">14</td>
</tr>