						<!-- SEVENTEENTH ROW EVENTS -->  
<tr>
						<!-- SEVENTEENTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- SEVENTEENTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Dress Rehearsal<br />w/ Photographer</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- SEVENTEENTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">FIRST PREVIEW</p>
		<p class="hang">Rehearsals in afternoon<br />during previews</p>
													<!-- Timed events -->

						<!-- SEVENTEENTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #2</p>

													<!-- Timed Events-->
	</td>
						<!-- SEVENTEENTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #3</p>

													<!-- Timed Events-->

	</td>
						<!-- SEVENTEENTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #4, #5<br />
														No Rehearsal</p>

													<!-- Timed events -->

	</td>
						<!-- SEVENTEENTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #6, #7<br />
			No Rehearsal</p>

													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF SEVENTEENTH ROW -->