						<!-- SIXTEENTH ROW EVENTS -->  
<tr>
						<!-- SIXTEENTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">LOAD IN<br />JOE TURNER</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- SIXTEENTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Continue Load-in</p>
		<p class="hang">Designer Run-through<br />(Room A)</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- SIXTEENTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Focus</p>

													<!-- Timed events -->

						<!-- SIXTEENTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Focus</p>

													<!-- Timed Events-->
	</td>
						<!-- SIXTEENTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Props and Costumes <br />load into the theatre</p>
		<p class="hang">ACTORS ON STAGE (Eve only)</p>

													<!-- Timed Events-->

	</td>
						<!-- SIXTEENTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 10/12</p>

													<!-- Timed events -->

	</td>
						<!-- SIXTEENTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 10/12</p>

													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF SIXTEENTH ROW -->