<!-- _row-15-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed show">Rehearsal Week 3</p>
	</td>
<%= render 'layouts/spacer_row' %>


																											<!-- Stripe 2 -->
<tr>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="b" colspan=3>
		<p class="boxed show">Pre-rig "Turner" over "Tribes"</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
<%= render 'layouts/spacer_row' %>