						<!-- SEVENTEENTH ROW EVENTS -->  
<tr>
						<!-- SEVENTEENTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- SEVENTEENTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 8/10</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stage work TBD<br />
					Install lobby displays TBD</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Stagehands set up for rehsl</td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Wardrobe/Hair called<br />
					Actors half-hour</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Actors on stage in costume and hair</td>
			</tr>
			<td class="h">5:30</td>
				<td class="m">Actors out of costume to dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands dinner</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Wardrobe/Hair dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors half-hour<br />
					Stagehands Wardrobe/Hair <br />
					back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors on stage in costume and hair</td>
			</tr>
			<td class="h">10:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- SEVENTEENTH Row Column 3 Wednesday -->
	<td class="i">
		
													<!-- Full day events-->
		<p class="hang">FIRST PREVIEW</p>
		<p class="hang">Photo Dress in afternoon</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stage work TBD<br />
					Finish lobby displays TBD</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Wardrobe/Hair called<br />
					Actors half-hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">DRESS REHEARSAL w/ photographer</td>
			</tr>
			<td class="h">4:45</td>
				<td class="m">Actors out of costume to dinner<br />
					Stagehands strike tech tables</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe/Hair dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">FIRST PREVIEW</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Tech notes in house</td>
			</tr>
		</table>

						<!-- SEVENTEENTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #2<br />
			Rehsls continue afternoons<br />
			during previews</p>

													<!-- Timed Events-->
	</td>
						<!-- SEVENTEENTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #3</p>

													<!-- Timed Events-->

	</td>
						<!-- SEVENTEENTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #4, #5<br />
														No Rehearsal</p>

													<!-- Timed events -->

	</td>
						<!-- SEVENTEENTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #6, #7<br />
			No Rehearsal</p>

													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF SEVENTEENTH ROW -->