<!-- _row-13-banners.html.erb -->

<!-- Stripe 1 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed show flushright">Rehearsal Week 1</p>
	</td>
<%= render 'layouts/spacer_row_holiday_sun' %>