<!-- _row-14-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed show">Rehearsal Week 2</p>
	</td>
<%= render 'layouts/spacer_row' %>

