<!-- _row-18-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed show">Previews</p>
	</td>
</tr>
	
<%= render 'layouts/spacer_row' %>


																											<!-- Stripe 2 -->
<tr>
	<td class="b" colspan=4>
		<p class="boxed travel"><< Allen Lee Hughes in LA >></p>
	</td>
	<td class="o"> </td>
	<td class="b" colspan=2>
		<p class="boxed travel">Phylicia out</p>
	</td>
</tr>	

<%= render 'layouts/spacer_row' %>

