						<!-- FIFTEENTH ROW EVENTS -->  
<tr>
						<!-- FIFTEENTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang"></p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- FIFTEENTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Carps/Elex prep work</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Lay out chain motor Locations<br />
					Repair cyc lights</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Dinner<br />
					Props preset for Tribes begins</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Set photos of Tribes</td>
			</tr>
		</table>
	</td>
						<!-- FIFTEENTH Row Column 3 Wednesday -->
	<td class="i">
														<!-- Full day events-->
			<p class="hang">Carps/Elex prep work continues</p>
														<!-- Timed events -->
			<table class="mini_cell">
				<tr>
					<td class="h">8:00</td>
					<td class="m">Call</td>
				</tr>
				<tr>
					<td class="h">5:00</td>
					<td class="m">Dinner</td>
				</tr>
			</table>
		</td>

						<!-- FIFTEENTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pre-rig:  Carps/Elex/Props</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Dinner</td>
			</tr>
		</table>
	</td>
						<!-- FIFTEENTH Row Column 5 Friday -->
	<td class="i">
														<!-- Full day events-->
			<p class="hang">Pre-rig:  Carps/Elex/Props</p>
														<!-- Timed events -->
			<table class="mini_cell">
				<tr>
					<td class="h">8:00</td>
					<td class="m">Call</td>
				</tr>
				<tr>
					<td class="h">5:00</td>
					<td class="m">Dinner</td>
				</tr>
			</table>
		</td>
	</td>
						<!-- FIFTEENTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
													<!-- Timed events -->

	</td>
						<!-- FIFTEENTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Close "Tribes"<br />Load out</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">3:30</td>
				<td class="m">End of "Tribes" Perf Call<br />
					Dinner break</td>
			</tr>
			<tr>
				<td class="h">4:30</td>
				<td class="m">Crew called for 6-hour take-out call<br />
					Props pack out for shipment to LJP</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Resume take-out call<br />
					Scenery left out on plaza overnight</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
</tr>
						<!-- END OF FIFTEENTH ROW -->