						<!-- SIXTEENTH ROW EVENTS -->  
<tr>
						<!-- SIXTEENTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">LOAD IN<br />JOE TURNER</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Unload scenery truck<br />
					Dispose of Tribes set</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch all Depts</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume load-in</td>
			</tr>
			<tr>
				<td class="h">6:50</td>
				<td class="m">Dinner</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Resume Load-in</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- SIXTEENTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Continue Load-in</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue Load-in</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch all Depts</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume load-in</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- SIXTEENTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Designer Run-through<br />(Room A)</p>

													<!-- Timed events -->

		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue Load-in</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Begin Focus w/ Allen</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch all Depts</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume Focus</td>
			</tr>
			<tr>
				<td class="h">3:00</td>
				<td class="m">Designer Run-through at Annex</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>

						<!-- SIXTEENTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Focus</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue Load-in/ focus</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch all Depts</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume focus</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Split all depts except Elex<br />
					Continue Focus</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- SIXTEENTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Continue Focus</p>
		<p class="hang">Props and Costumes <br />load into the theatre</p>
		<p class="hang">ACTORS ON STAGE (Eve only)</p>

													<!-- Timed Events-->

		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Props load in from Annex</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Costumes load in from Shop</td>
			</tr>
			<tr>
				<td class="h">10:50</td>
				<td class="m">Lunch Audio</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Lunch all Depts except Audio</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">Quiet time - audio only<br />
					Wardrobe checks in costumes</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">All Depts back from lunch</td>
			</tr>
			<td class="h">4:50</td>
				<td class="m">Dinner all Depts</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">ACTORS ON STAGE<br />
					in costume pieces only</td>
			</tr>
			<tr>
				<td class="h">10:45</td>
				<td class="m">Actors dismissed</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- SIXTEENTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
													
		<p class="hang">Tech 10/12</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Paint Call</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch except 1 Props</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Wardrobe/Hair called<br />
					Actors half-hour</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">End paint call<br />
					Extra props lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume and hair</td>
			</tr>
			<td class="h">5:15</td>
				<td class="m">Actors out of costume to dinner</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe/Hair dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors half-hour<br />
					Stagehands Wardrobe/Hair <br />
					back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors on stage in costume and hair</td>
			</tr>
			<td class="h">11:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- SIXTEENTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 10/12</p>

													<!-- Timed events -->
			<table class="mini_cell">
				<tr>
					<td class="h">8:00</td>
					<td class="m">Paint Call</td>
				</tr>
				<tr>
					<td class="h">11:50</td>
					<td class="m">Stagehands Lunch except 1 Props</td>
				</tr>
				<tr>
					<td class="h">12:30</td>
					<td class="m">Wardrobe/Hair called<br />
						Actors half-hour</td>
				</tr>
				<tr>
					<td class="h">12:50</td>
					<td class="m">End paint call<br />
						Extra props lunch</td>
				</tr>
				<tr>
					<td class="h">1:00</td>
					<td class="m">Actors on stage in costume and hair</td>
				</tr>
				<td class="h">5:15</td>
					<td class="m">Actors out of costume to dinner</td>
				</tr>
				<tr>
					<td class="h">5:30</td>
					<td class="m">Wardrobe/Hair dinner</td>
				</tr>
				<tr>
					<td class="h">5:50</td>
					<td class="m">Stagehands dinner</td>
				</tr>
				<tr>
					<td class="h">7:00</td>
					<td class="m">Actors half-hour<br />
						Stagehands Wardrobe/Hair <br />
						back from dinner</td>
				</tr>
				<tr>
					<td class="h">7:30</td>
					<td class="m">Actors on stage in costume and hair</td>
				</tr>
				<td class="h">11:45</td>
					<td class="m">Actors out of costume</td>
				</tr>
				<tr>
					<td class="h">12:00</td>
					<td class="m">EOD</td>
				</tr>
			</table>
	</td>
</tr>
						<!-- END OF SIXTEENTH ROW -->