<!-- _row-17-dates.html.erb -->

<tr>
	<td class="d">Apr&nbsp;22</td>
	<td class="d">23</td>
	<td class="d">24</td>
	<td class="d">25</td>
	<td class="d">26</td>
	<td class="d">27</td>
	<td class="d">28</td>
</tr>