<!-- _row-16-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=3>
		<p class="boxed show">Rehearsal Week 4</p>
	</td>
	<td class="b" colspan=3>
		<p class="boxed show">TECH REHEARSALS</p>
	</td>
	
<%= render 'layouts/spacer_row' %>

																											<!-- Stripe 2 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel flushright">Allen Lee Hughes in LA >></p>
	</td>

<%= render 'layouts/spacer_row' %>

