						<!-- EIGHTEENTH ROW EVENTS -->  
<tr>
						<!-- EIGHTEENTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- EIGHTEENTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #8</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>
	</td>
						<!-- EIGHTEENTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #9</p>

													<!-- Timed events -->

						<!-- EIGHTEENTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #10</p>
		<p class="hang">Freeze Show</p>

													<!-- Timed Events-->
	</td>
						<!-- EIGHTEENTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #11</p>

													<!-- Timed Events-->

	</td>
						<!-- EIGHTEENTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #12, #13<br />
														No Rehearsal</p>

													<!-- Timed events -->

	</td>
						<!-- EIGHTEENTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Pvw #14</p>

													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF EIGHTEENTH ROW -->