<!-- _row-17-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p class="boxed show">Final Dress / 1st Pvw</p>
	</td>
	<td class="b" colspan=4>
		<p class="boxed show">Previews</p>
	</td>
	
<%= render 'layouts/spacer_row' %>


																											<!-- Stripe 2 -->
<tr>
	<td class="b" colspan=7>
		<p class="boxed travel bleed"><< Allen Lee Hughes in LA >></p>
	</td>

<%= render 'layouts/spacer_row' %>



