<% provide(:title, "Joe Turner's Come and Gone - Tech Week") %>
<% provide(:issue_number, '#5') %>
<% provide(:issue_date, '4/19/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIRST ROW -->


									<!-- SECOND ROW -->


									<!-- THIRD ROW -->


									<!-- FOURTH ROW -->


									<!-- FIFTH ROW -->


									<!-- SIXTH ROW -->
		<%= render 'turner/row-16-dates' %>
		<%= render 'turner/row-16-banners' %>
		<%= render 'turner/row-16-events' %>

									<!-- SEVENTH ROW -->


									<!-- EIGHTH ROW -->


									<!-- NINTH ROW -->





	</table>
</div>
