<!-- _row-06-dates.html.erb -->

<tr>
	<td class="d">Feb&nbsp;4</td>
	<td class="d">5</td>
	<td class="d">6</td>
	<td class="d">7</td>
	<td class="d">8</td>
	<td class="d">9</td>
	<td class="d">10</td>
</tr>