						<!-- SEVENTH ROW EVENTS -->  
<tr>
						<!-- SEVENTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
		</table>

	</td>
						<!-- SEVENTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Rehearsal<br />
			Invited Dress</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- SEVENTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Rehearsal<br />
			1st Preview</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Truck arrives</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
			
		</table>

						<!-- SEVENTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Preview #2</p>
		
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- SEVENTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Preview #3</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- SEVENTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Preview #4</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
		
	</td>
						<!-- SEVENTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Previews #5, #6</p>

		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
</tr>
						<!-- END OF SEVENTH ROW -->