						<!-- NINTH ROW EVENTS -->  
<tr>
						<!-- NINTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
		</table>

	</td>
						<!-- NINTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Rehearsal<br />
			Invited Dress</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Tech Notes TBD, set up for rehsl.</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' half-hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage, Rehsl in costume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner break</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands' dinner break</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors' Half hour<br />
					Stagehands, Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">INVITED DRESS REHEARSAL</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- NINTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Rehearsal<br />
			1st Preview</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Tech Notes TBD, set up for rehsl.</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' half-hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage, Rehsl in costume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner break</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands' dinner break</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors' Half hour<br />
					Stagehands, Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">PREVIEW PERFORMANCE</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD</td>
			</tr>
		</table>

						<!-- NINTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Preview #2</p>
		
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Tech Notes TBD, set up for rehsl.</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' half-hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage, Rehsl in costume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner break</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands' dinner break</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors' Half hour<br />
					Stagehands, Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">PREVIEW PERFORMANCE</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- NINTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Preview #3</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">10:00</td>
				<td class="m">Tech Notes TBD, set up for rehsl.</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage, Rehsl in costume pieces only, no hair</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Actors dinner break</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands' dinner break</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Wardrobe, Hair show call</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors' Half hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">PREVIEW PERFORMANCE</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- NINTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Preview #4</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">TBD</td>
				<td class="m">Afternoon Rehearsal</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">PREVIEW PERFORMANCE</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD</td>
			</tr>
		</table>
		
	</td>
						<!-- NINTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Previews #5, #6</p>

		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">12:30</td>
				<td class="m">Half hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">PREVIEW PERFORMANCE</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Half hour</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">PREVIEW PERFORMANCE</td>
			</tr>
		</table>

	</td>
</tr>
						<!-- END OF NINTH ROW -->