<!-- _row-07-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="b" colspan=2>
		<p class="boxed show">Tribes - Pre-rig</p>
	</td>
	<td class="b" colspan=3>
		<p class="boxed show">Tribes - Load-in</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>
<%= render 'layouts/spacer_row' %>

																											<!-- Stripe 2 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel">Bones on Backbeat</p>
	</td>
</tr>
<%= render 'layouts/spacer_row' %>
