<!-- _row-08-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o holiday"> </td>
	<td class="b" colspan=2>
		<p class="boxed show">Focus, Rehearsals on stage</p>
	</td>
	<td class="b" colspan=4>
		<p class="boxed show">Tribes - TECH</p>
	</td>
</tr>
<%= render 'layouts/spacer_row_holiday_mon' %>

																											<!-- Stripe 2 -->
<tr>
	<td class="o holiday"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel">Bones on Backbeat</p>
	</td>
</tr>
<%= render 'layouts/spacer_row_holiday_mon' %>
