						<!-- SIXTH ROW EVENTS -->  
<tr>
						<!-- SIXTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 9</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- SIXTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 10</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- SIXTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 11<br />
			ODC Elex Strike<br />
			Projector Tests<br />
			Lay Carpet</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
			
		</table>

						<!-- SIXTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tribes - Pre-rig</p>
		
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- SIXTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tribes - Pre-rig<br />
			Install new arbor</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- SIXTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
													<!-- Timed events -->
	</td>
						<!-- SIXTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>

		
													<!-- Timed events -->

	</td>
</tr>
						<!-- END OF SIXTH ROW -->