<!-- _row-10-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=5>
		<p class="boxed show">PREVIEWS</p>
	</td>
	<td class="b" colspan=1>
		<p class="boxed show">OPENING</p>
	</td>
</tr>
<%= render 'layouts/spacer_row' %>

