						<!-- EIGHTH ROW EVENTS -->  
<tr>
						<!-- EIGHTH Row Column 1 Monday -->
	<td class="i holiday">
													<!-- Full day events-->
		<p class="hang">DAY OFF<br />
			Presidents' Day</p>

													<!-- Timed events -->
		<table class="mini_cell">
		</table>

	</td>
						<!-- EIGHTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Focus AM, Rehearsals PM<br />
			(w/o Director)</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus LX</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Wardrobe Load in Costumes<br />
					Hair sets up room (Rick and Leah)</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Actors spacing rehsl on stage in worklight<br />
					(or Lights play overhead)</td>
			</tr>
			<tr>
				<td class="h">TBD</td>
				<td class="m">Actors costume and wig fittings throughout the afternoon</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Dinner Break</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors resume spacing rehsl</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">End of Day</td>
			</tr>
		</table>
	</td>
						<!-- EIGHTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Focus AM, Rehearsal PM<br />
			(w/Director)</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Resume focus LX</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Audio Lunch</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Stagehands Lunch (Except Audio)</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m"><b>Audio Quiet Time</b></td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Wardrobe called</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Actors spacing rehsl on stage in worklight<br />
					(or Lights play overhead)<br />
					w/ Costume Pieces as needed.</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Audio Dinner</td>
			</tr>
			<tr>
				<td class="h">6:20</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Wardrobe Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Audio Quiet Time</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors resume spacing rehsl</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">End of Day</td>
			</tr>
		</table>

						<!-- EIGHTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Full Tech Begins - 8/10</p>
		
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Tech Notes TBD, set up for rehsl.</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Actors' half-hour</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">ACTORS ON STAGE - TECH/DRESS</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors' dinner break</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands' dinner break</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Wardrobe, Hair dinner break</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors' Half hour<br />
					Stagehands, Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors on stage, resume tech</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Actors Finish</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Stagehands, Wardrobe, Hair EOD</td>
			</tr>
		</table>

	</td>
						<!-- EIGHTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 10/12</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Tech Notes TBD, set up for rehsl.</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' half-hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">ACTORS ON STAGE - TECH/DRESS</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner break</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands' dinner break</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors' Half hour<br />
					Stagehands, Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors on stage, resume tech</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">Stagehands, Wardrobe, Hair EOD</td>
			</tr>
		</table>

	</td>
						<!-- EIGHTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Tech 10/12<br />
			Paint Call #2</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Painters begin<br />
					Tech Notes TBD</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Set up for rehsl.</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch (except one props asst.)<br />
					Painters clean up</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' half-hour</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Props Asst. Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">ACTORS ON STAGE - TECH/DRESS</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner break</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands' dinner break</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors' Half hour<br />
					Stagehands, Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors on stage, resume tech</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">Stagehands, Wardrobe, Hair EOD</td>
			</tr>
		</table>
		
	</td>
						<!-- EIGHTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Dress Rehsl, Photos (8/10 + 1)</p>

		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Tech notes TBD, set up for rehsl</td>
			</tr>
			<tr>
				<td class="h">12:20</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Wardrobe, Hair called</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors' half-hour</td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">ACTORS ON STAGE - TECH/DRESS</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Actors' dinner break</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner break</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands' dinner break</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Actors' Half hour<br />
					Stagehands, Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors on stage, <b><u>PHOTO SETUPS</u></b></td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>Dress Rehearsal with Photographer</u></b> (Invited audience?)</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Actors Finish</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Stagehands, Wardrobe, Hair EOD</td>
			</tr>
		</table>

	</td>
</tr>
						<!-- END OF EIGHTH ROW -->