<!-- _row-09-dates.html.erb -->

<tr>
	<td class="d">Feb&nbsp;25</td>
	<td class="d">26</td>
	<td class="d">27</td>
	<td class="d">28</td>
	<td class="d">Mar&nbsp;1</td>
	<td class="d">2</td>
	<td class="d">3</td>
</tr>