<!-- _row-09-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p class="boxed show">INVITED DRESS</p>
	</td>
	<td class="b" colspan=5>
		<p class="boxed show">PREVIEWS</p>
	</td>
</tr>
<%= render 'layouts/spacer_row' %>

																											<!-- Stripe 2 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=4>
		<p class="boxed travel">Bones on Backbeat</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>
<%= render 'layouts/spacer_row' %>

																											<!-- Stripe 3 -->
<tr>
	<td class="b" colspan=4>
		<p class="boxed travel">David Cromer, Keith Parham in L.A.</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>
<%= render 'layouts/spacer_row' %>

																											<!-- Stripe 4 -->
<tr>
	<td class="b" colspan=5>
		<p class="boxed travel">Jeff Sugg in L.A.</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>
<%= render 'layouts/spacer_row' %>
