<table class="mini_cell">
	<tr>
		<td class="h">8:00</td>
		<td class="m">Pre-rig <em>Other Desert Cities</em></td>
	</tr>
	<tr>
		<td class="h">12:50</td>
		<td class="m">Lunch</td>
	</tr>
		<td class="h">2:00</td>
		<td class="m">Resume Pre-rig</td>
	</tr>
	<tr>
		<td class="h">5:00</td>
		<td class="m">Stagehands End of Day</td>
	</tr>
</table>
