						<!-- FIRST ROW EVENTS -->  
<tr>
						<!-- FIRST Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Actors' Day Off</p><br/>
		<p class="hang">Stage Crew Day Off</p><br/>
	</td>
						<!-- FIRST Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">ELECTION DAY</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Neil Austin and Chris Cronin arrive AM to scope out the theatre <br/>
					Begin Focus as soon as ready
				</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Stagehands Coffee Break</td>
			</tr>
			<tr>
				<td class="h">11:20</td>
				<td class="m">Run-thru in Room A (to 12:50)</td>
			</tr>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Carps/Props/Elex Lunch <br />
					Audio Quiet Time with Chris Cronin (unless Cronin
					attends the run-thru in Room A)
				</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Audio Crew Lunch <br/>
					(No Headsets for remaining crew)
				</td>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Resume Focus</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Carp/Prop/Elex End of Day <br />
					Audio Quiet Time with Chris Cronin
				</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Audio End of Day (EOD)</td>
			</tr>
		</table>
	</td>
						<!-- FIRST Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">FOCUS</p>
		<p class="hang">LOAD IN PROPS (Afternoon)</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue Focus</td>
			</tr>
			<tr>
				<td class="h">TBD</td>
				<td class="m">Neil arrives</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Stagehands Coffee Break</td>
			</tr>
			<tr>
				<td class="h">11:20</td>
				<td class="m">Run-thru in Room A (to 12:50)</td>
			</tr>
			<tr>
				<td class="h">12:20</td>
				<td class="m">Stagehands Lunch (All Depts)</td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">CTG Truck at Annex <br/>
					Props/Elex Pick up at Annex, Deliver to MTF<br />
					Resume Focus
				</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Dress Set <br/>
					Resume Focus when ready
				</td>
			<tr>
				<td class="h">3:00</td>
				<td class="m">CTG Truck P/U Costumes to deliver to MTF </td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Stagehands EOD</td>
			</tr>
		</table>
	</td>

						<!-- FIRST Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">FOCUS in the morning</p>
		<p class="hang">LOAD IN COSTUMES AT MTF</p>				
		<p class="hang">FULL TECH/DRESS BEGINS</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes TBD</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Wardrobe Call - Check in Costumes
				</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Wardrobe Lunch
				</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Stagehands Lunch </td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Stage Doorperson called </td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Wardrobe back from lunch<br />
					Hair/Make-up Called
				</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Actors' half-hour into costumes<br/>
					Stagehands back from lunch
				</td>
			</tr>
			<tr>
				<td class="h">2:30</td>
				<td class="m">ACTORS ON STAGE - Begin Tech</td>
			</tr>
			<tr>
				<td class="h">5:45</td>
				<td class="m">Actors out of Costumes</td>
			</tr>
			<tr>
				<td class="h">6:20</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors' half-hour into costumes<br/>
					Stagehands, Wardrobe, Hair/Make-up back from dinner
				</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">RESUME TECH REHSL</td>
			</tr>
			<tr>
				<td class="h">11:15</td>
				<td class="m">Actors out of costumes<br/>
					<em>Note: Actors must break earlier if cleanup is required</em><br/>Power down lighting console</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">EOD - Tech Notes</td>
			</tr>
		</table>

	</td>
						<!-- FIRST Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">10/12 Tech Rehearsal</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Tech Work TBD</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Stage Doorperson Called</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour<br/>
					Wardrobe, Hair called
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">RESUME TECH REHSL</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Out of costumes</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors' Half-hour<br/>
					Stagehands, Wardrobe, Hair back from dinner
				</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">RESUME TECH REHSL</td>
			</tr>
			<tr>
				<td class="h">11:15</td>
				<td class="m">Out of costumes<br />
					Power down lighting console</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">EOD - Tech Notes</td>
			</tr>
		</table>

	</td>
						<!-- FIRST Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">PAINT CALL</p>
		<p class="hang">8/10 Tech Rehearsal</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Paint Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Stage Doorperson called </td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Actors' Half-hour into costumes
					Stagehands back from lunch<br/>
					Wardrobe, Hair called
				</td>
			</tr>
			<tr>
				<td class="h">2:30</td>
				<td class="m">RESUME TECH REHSL</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Out of costumes</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Wardrobe, Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Half-hour into costumes<br/>
					Stagehands, Wardrobe, Hair back from dinner
				</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">RESUME TECH REHSL</td>
			</tr>
			<tr>
				<td class="h">11:15</td>
				<td class="m">Out of costumes<br />
					Power down lighting console</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">EOD - Tech Notes</td>
			</tr>
		</table>
	</td>
						<!-- FIRST Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">PAINT CALL</p>
		<p class="hang">10/12 Tech Rehearsal</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Paint Call</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Stage Doorperson called </td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch<br />
					(Except 1 props asst)</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Wardrobe, Hair called
				</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Props asst takes lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">RESUME TECH REHSL<br/>
					Stagehands (except 1 props asst) back from lunch
				</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Out of costumes</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors' Half-hour<br/>
					Stagehands, Wardrobe, Hair back from dinner
				</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">RESUME TECH REHSL</td>
			</tr>
			<tr>
				<td class="h">11:15</td>
				<td class="m">Out of costumes<br />
					Power down lighting console</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">EOD - Tech Notes</td>
			</tr>
		</table>
	</td>
</tr>
						<!-- END OF FIRST ROW -->  
						
						
							<table class="mini_cell">
								<tr>
									<td class="h">8:00</td>
									<td class="m">Continue Focus</td>
								</tr>
								<tr>
									<td class="h">TBD</td>
									<td class="m">Neil arrives</td>
								</tr>
								<tr>
									<td class="h">10:00</td>
									<td class="m">Stagehands Coffee Break</td>
								</tr>
								<tr>
									<td class="h">11:20</td>
									<td class="m">Run-thru in Room A (to 12:50)</td>
								</tr>
								<tr>
									<td class="h">12:20</td>
									<td class="m">Stagehands Lunch (All Depts)</td>
								</tr>
								<tr>
									<td class="h">1:30</td>
									<td class="m">CTG Truck at Annex <br/>
										Props/Elex Pick up at Annex, Deliver to MTF<br />
										Resume Focus
									</td>
								</tr>
								<tr>
									<td class="h">2:00</td>
									<td class="m">Dress Set <br/>
										Resume Focus when ready
									</td>
								<tr>
									<td class="h">3:00</td>
									<td class="m">CTG Truck P/U Costumes to deliver to MTF </td>
								</tr>
								<tr>
									<td class="h">6:30</td>
									<td class="m">Stagehands EOD</td>
								</tr>
							</table>
						</td>



						<p class="hang">FOCUS in the morning</p>
						<p class="hang">LOAD IN COSTUMES AT MTF</p>				
						<p class="hang">FULL TECH/DRESS BEGINS</p>
						
						<table class="mini_cell">
							<tr>
								<td class="h">8:00</td>
								<td class="m">Notes TBD</td>
							</tr>
							<tr>
								<td class="h">10:30</td>
								<td class="m">Wardrobe Call - Check in Costumes
								</td>
							</tr>
							<tr>
								<td class="h">12:30</td>
								<td class="m">Wardrobe Lunch
								</td>
							</tr>
							<tr>
								<td class="h">12:50</td>
								<td class="m">Stagehands Lunch </td>
							</tr>
							<tr>
								<td class="h">1:00</td>
								<td class="m">Stage Doorperson called </td>
							</tr>
							<tr>
								<td class="h">1:30</td>
								<td class="m">Wardrobe back from lunch<br />
									Hair/Make-up Called
								</td>
							</tr>
							<tr>
								<td class="h">2:00</td>
								<td class="m">Actors' half-hour into costumes<br/>
									Stagehands back from lunch
								</td>
							</tr>
							<tr>
								<td class="h">2:30</td>
								<td class="m">ACTORS ON STAGE - Begin Tech</td>
							</tr>
							<tr>
								<td class="h">5:45</td>
								<td class="m">Actors out of Costumes</td>
							</tr>
							<tr>
								<td class="h">6:20</td>
								<td class="m">Stagehands Dinner</td>
							</tr>
							<tr>
								<td class="h">7:30</td>
								<td class="m">Actors' half-hour into costumes<br/>
									Stagehands, Wardrobe, Hair/Make-up back from dinner
								</td>
							</tr>
							<tr>
								<td class="h">8:00</td>
								<td class="m">RESUME TECH REHSL</td>
							</tr>
							<tr>
								<td class="h">11:15</td>
								<td class="m">Actors out of costumes<br/>
									<em>Note: Actors must break earlier if cleanup is required</em><br/>Power down lighting console</td>
							</tr>
							<tr>
								<td class="h">11:30</td>
								<td class="m">EOD - Tech Notes</td>
							</tr>
						</table>


						<table class="mini_cell">
							<tr>
								<td class="h">8:00</td>
								<td class="m">Paint Call</td>
							</tr>
							<tr>
								<td class="h">11:30</td>
								<td class="m">Stage Doorperson called </td>
							</tr>
							<tr>
								<td class="h">11:50</td>
								<td class="m">Stagehands Lunch<br />
									(Except 1 props asst)</td>
							</tr>
							<tr>
								<td class="h">12:30</td>
								<td class="m">Actors' Half-hour into costumes<br/>
									Wardrobe, Hair called
								</td>
							</tr>
							<tr>
								<td class="h">12:50</td>
								<td class="m">Props asst takes lunch</td>
							</tr>
							<tr>
								<td class="h">1:00</td>
								<td class="m">RESUME TECH REHSL<br/>
									Stagehands (except 1 props asst) back from lunch
								</td>
							</tr>
							<tr>
								<td class="h">5:15</td>
								<td class="m">Out of costumes</td>
							</tr>
							<tr>
								<td class="h">5:30</td>
								<td class="m">Wardrobe, Hair Dinner</td>
							</tr>
							<tr>
								<td class="h">5:50</td>
								<td class="m">Stagehands Dinner</td>
							</tr>
							<tr>
								<td class="h">7:00</td>
								<td class="m">Actors' Half-hour<br/>
									Stagehands, Wardrobe, Hair back from dinner
								</td>
							</tr>
							<tr>
								<td class="h">7:30</td>
								<td class="m">RESUME TECH REHSL</td>
							</tr>
							<tr>
								<td class="h">11:15</td>
								<td class="m">Out of costumes<br />
									Power down lighting console</td>
							</tr>
							<tr>
								<td class="h">11:30</td>
								<td class="m">EOD - Tech Notes</td>
							</tr>
						</table>


