<!-- _row-04-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o holiday"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel">Emmet Vacation</p>
	</td>
</tr>
<%= render 'layouts/spacer_row_holiday_mon' %>

																											<!-- Stripe 2 -->
<tr>
	<td class="o holiday"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel">Billy, Bones on Backbeat</p>
	</td>
</tr>
<%= render 'layouts/spacer_row_holiday_mon' %>
