<!-- _row-05-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="b" colspan=1>
		<p class="boxed">CTG Fundraiser</p>
	</td>
	<td class="b" colspan=3>
		<p class="boxed">Emmet, Billy, Bones Layout Automation, LX, Watchout TBD</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>
<%= render 'layouts/spacer_row' %>
																											<!-- Stripe 2 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel">Billy, Bones on Backbeat</p>
	</td>
</tr>
<%= render 'layouts/spacer_row' %>
