						<!-- THIRD ROW EVENTS -->  
<tr>
						<!-- THIRD Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 5<br />
			Weld flats</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stagehands call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands End of Day</td>
			</tr>
		</table>

	</td>
						<!-- THIRD Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 6</p>
		<p class="hang">Cover flats</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- THIRD Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 7</p>
		<p class="hang">Finish flats</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
			
		</table>

						<!-- THIRD Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 8 </p>
		<p class="hang">Hang flats</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
		<p class="hang deadline">Tribes - LX Speaker plot due

	</td>
						<!-- THIRD Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Prep for Carl Reiner Event<br />
			Pre-hang LX, hang masking</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Carps Finish</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Bones splits off to Backbeat</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Load out props for delivery back to Annex</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Elex, Audio finish<br />
					Props Dinner</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Paint Deck</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- THIRD Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
													<!-- Timed events -->
	</td>
						<!-- THIRD Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
		<p class="hang deadline">"Tribes" closes at Barrow Street NY</p>
													<!-- Timed events -->
	</td>
</tr>
						<!-- END OF THIRD ROW -->  
