						<!-- SECOND ROW EVENTS -->  
<tr>
						<!-- SECOND Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">LOAD OUT<br />
			Strike ODC, remove black carpet, <br />
			paint deck black</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">7:00</td>
				<td class="m">Dumpsters arrive</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stagehands begin Load-out</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume Load-out</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands End of Day</td>
			</tr>
		</table>

	</td>
						<!-- SECOND Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 1</p>
		<p class="hang">Motors, Track</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">9:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- SECOND Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 2</p>
		<p class="hang">Track, Railings</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">9:00</td>
				<td class="m">Continue</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">EOD</td>
			</tr>
			
		</table>

						<!-- SECOND Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 3 </p>
		<p class="hang">Railings, Flats</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">9:00</td>
				<td class="m">Continue</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
		<p class="hang deadline">Tribes - LX Rig positions due

	</td>
						<!-- SECOND Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Maintenance - Day 4<br />
			Weld flats</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">9:00</td>
				<td class="m">Continue</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- SECOND Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
													<!-- Timed events -->
	</td>
						<!-- SECOND Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
													<!-- Timed events -->
	</td>
</tr>
						<!-- END OF SECOND ROW -->  
