<!-- _row-03-dates.html.erb -->

<tr>
	<td class="d">Jan&nbsp;14</td>
	<td class="d">15</td>
	<td class="d">16</td>
	<td class="d">17</td>
	<td class="d">18</td>
	<td class="d">19</td>
	<td class="d">20</td>
</tr>