						<!-- FIFTH ROW EVENTS -->  
<tr>
						<!-- FIFTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">CARL REINER EVENT<br />
			Enter Laughing - The Musical</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Load in Props and Musical Instruments from Annex<br />
					Hang 'Comedy/Comedy' masks<br />
					Audio Set up, LX Focus</td>
			</tr>
			<tr>
				<td class="h">9:00</td>
				<td class="m">Heather, Billy write light cues</td>
			</tr>
			<tr>
				<td class="h">10:15</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Seat Orchestra</td>
			</tr>
			<tr>
				<td class="h">11:20</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Stagehands back from lunch <br />
					Wardrobe and Hair Called<br />
					Snacks delivered backstage</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Company Called<br />
					Tech Rehearsal w/ Full Orchestra<br />
					Work through the entire show sequentially</td>
			</tr>
			<tr>
				<td class="h">4:00</td>
				<td class="m">Add Rob Reiner<br />
					Work through the entire show sequentially</td>
			</tr>
			<tr>
				<td class="h">5:20</td>
				<td class="m">Dinner Annex Room A<br />
					Touch-up tune piano on stage</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">VIP Reception in the Grand Hall</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Crew performance call</td>
			</tr>
			<tr>
				<td class="h">6:45</td>
				<td class="m">Mic Checks TBD</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">House Opens</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Performance Begins</td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Performance Ends<br />
					Strike (need stake bed)</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

	</td>
						<!-- FIFTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
													<!-- Timed events -->
		<table class="mini_cell">
		</table>
	</td>
						<!-- FIFTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
													<!-- Timed events -->
		<table class="mini_cell">
		</table>

						<!-- FIFTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
													<!-- Timed Events-->
		<table class="mini_cell">
		</table>

	</td>
						<!-- FIFTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Fall Protection Training at the MTF</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Call</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands EOD</td>
			</tr>
		</table>

	</td>
						<!-- FIFTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
													<!-- Timed events -->
	</td>
						<!-- FIFTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
													<!-- Timed events -->
	</td>
</tr>
						<!-- END OF FIFTH ROW -->