<!-- _row-02-dates.html.erb -->

<tr>
	<td class="d">Jan&nbsp;7</td>
	<td class="d">8</td>
	<td class="d">9</td>
	<td class="d">10</td>
	<td class="d">11</td>
	<td class="d">12</td>
	<td class="d">13</td>
</tr>