<!-- _row-05-dates.html.erb -->

<tr>
	<td class="d">Jan&nbsp;28</td>
	<td class="d">29</td>
	<td class="d">30</td>
	<td class="d">31</td>
	<td class="d">Feb&nbsp;1</td>
	<td class="d">2</td>
	<td class="d">3</td>
</tr>