<!-- _row-01-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="b" colspan=7>
		<p class="boxed flushleft">Final running week of Other Desert Cities</p>
	</td>
</tr>
<%= render 'layouts/spacer_row_holiday_mon_tue' %>
