						<!-- FOURTH ROW EVENTS -->  
<tr>
						<!-- FOURTH Row Column 1 Monday -->
	<td class="i holiday">
													<!-- Full day events-->
		<p class="hang">MARTIN LUTHER KING DAY<br />
			Day Off</p>

													<!-- Timed events -->
	</td>
						<!-- FOURTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Dark Week</p>
		<p class="hang">No activity at MTF</p>

													<!-- Timed events -->
		<table class="mini_cell">
		</table>
	</td>
						<!-- FOURTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->

													<!-- Timed events -->
		<table class="mini_cell">
		</table>

						<!-- FOURTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Enter Laughing <br />
			Audio Eqpt load-in Annex and MTF</p>
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">10:00</td>
				<td class="m">Stake Truck p/u console, racks speakers and cable from Phil Allen<br />
					Deliver console, wireless to Annex<br />
					Deliver everything else to MTF backstage drop off area</td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Bones and Mark set up audio gear in Room A</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Mark EOD, Bones Dinner, then off to Backbeat</td>
			</tr>
			<tr>
				<td class="h">9:00</td>
				<td class="m">Tune pianos at Annex and MTF</td>
			</tr>
		</table>
		<p class="hang deadline">Tribes - Light plot due

	</td>
						<!-- FOURTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Enter Laughing<br />
			Audio Prep and possible Rehsl in Annex</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:30</td>
				<td class="m">Set up audio gear</td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Rehearsals begin</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Put away Gear</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Mark EOD, Bones to dinner and Backbeat</td>
			</tr>
			
		</table>

	</td>
						<!-- FOURTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">August Wilson<br />
			Monologue Competition<br />
			(AWMC)<br />
			worklight rehearsal at MTF</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">1:00</td>
				<td class="m">Staff arrives for AWMC master class at MTF</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Students do worklight rehearsal at MTF</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Students Finish</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Staff leaves</td>
			</tr>
		</table>
			
		<p class="hang">Enter Laughing
			rehearsal at Annex w/ Audio</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:30</td>
				<td class="m">Set up audio gear</td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Rehearsals begin</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Put away Gear</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Mark EOD, Bones to dinner and Backbeat</td>
			</tr>
		</table>
	</td>
						<!-- FOURTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Enter Laughing Rehearsal at Annex<br />
			Strike Audio from Annex to MTF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:30</td>
				<td class="m">Set up audio gear</td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Rehearsals begin</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Strike gear to road cases</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Bones to dinner and Backbeat</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Load road cases to stake truck and deliver to MTF backstage</td>
			</tr>
		</table>
		
	</td>
</tr>
						<!-- END OF FOURTH ROW -->