<!-- _row-05-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="b" colspan=1>
		<p class="boxed">LOAD OUT Other Desert Cities</p>
	</td>
	<td class="b" colspan=4>
		<p class="boxed">MAINTENANCE (Carpentry Dept)</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>
<%= render 'layouts/spacer_row' %>