<!-- _row-03-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="b" colspan=5>
		<p class="boxed">MAINTENANCE (Carpentry Dept)</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>
<%= render 'layouts/spacer_row' %>

																											<!-- Stripe 2 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p class="boxed travel">Billy, Bones on Backbeat</p>
	</td>
</tr>
<%= render 'layouts/spacer_row' %>
