						<!-- FOURTH ROW EVENTS -->  
<tr>
						<!-- FOURTH Row Column 1 Monday -->
	<td class="i holiday">
													<!-- Full day events-->
		<p class="hang">MARTIN LUTHER KING DAY<br />
			Day Off</p>

													<!-- Timed events -->
	</td>
						<!-- FOURTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Dark Week</p>
		<p class="hang">No activity at MTF</p>

													<!-- Timed events -->
		<table class="mini_cell">
		</table>
	</td>
						<!-- FOURTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->

													<!-- Timed events -->
		<table class="mini_cell">
		</table>

						<!-- FOURTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Enter Laughing <br />
			Audio Rehsl in Annex</p>
													<!-- Timed Events-->
		<table class="mini_cell">
		</table>
		<p class="hang deadline">Tribes - Light plot due

	</td>
						<!-- FOURTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Enter Laughing<br />
			Audio Rehsl in Annex</p>

													<!-- Timed Events-->
		<table class="mini_cell">
		</table>

	</td>
						<!-- FOURTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">August Wilson<br />
			Monologue Competition<br />
			(AWMC)<br />
			worklight rehearsal at MTF</p>
													<!-- Timed events -->
	</td>
						<!-- FOURTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Enter Laughing<br />
			Strike Audio from Annex to MTF</p>

													<!-- Timed events -->
	</td>
</tr>
						<!-- END OF FOURTH ROW -->