<!-- FIRST ROW EVENTS --> 

<tr>
																														<!-- Column 1 Monday -->
	<td class="i holiday">
																																	<!-- Full day events-->
		<p class="hang">NEW YEAR'S EVE<br />
			Performance</p>
	</td>
																																	<!-- Timed events -->

																														<!-- Column 2 Tuesday -->
	<td class="i holiday">
																																	<!-- Full day events-->
		<p class="hang">NEW YEAR'S DAY<br />
			Day Off</p>

																																	<!-- Timed events -->
	</td>
																														<!-- Column 3 Wednesday -->
	<td class="i">
																																	<!-- Full day events-->

																																	<!-- Timed events -->
																																	
																													<!-- Column 4 Thursday -->
	<td class="i">
																																	<!-- Full day events-->
		<p class="hang deadline">Tribes - Projection plot due
																																	<!-- Timed events -->

	</td>
																														<!-- Column 5 Friday -->
	<td class="i">
																																	<!-- Full day events-->

																																	<!-- Timed events -->
		

	</td>
																														<!-- FIRST Row Column 6 Saturday -->
	<td class="i">
																																	<!-- Full day events-->

																																	<!-- Timed events -->

																														<!-- FIRST Row Column 7 Sunday -->
	<td class="i">
																																	<!-- Full day events-->
		<p class="hang">ODC Closing Night</p>

																																	<!-- Timed events -->
	</td>
</tr>

<!-- END OF FIRST ROW -->