<!-- _row-19-banners.html.erb -->
																											<!-- Stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=5>
		<p class="boxed show">Previews</p>
	</td>
	<td class="b" colspan=1>
		<p class="boxed show">OPENING</p>
	</td>

<%= render 'layouts/spacer_row' %>


