<!-- _row-37-events.html.erb -->

						<!-- THIRTY-SEVENTH ROW EVENTS -->  
<tr>
						<!-- THIRTY-SEVENTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Actors and Crew <br />
			DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"></td>
				<td class="m"></td>
			</tr>
		</table>

	</td>
						<!-- THIRTY-SEVENTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Designer Run-through<br />
			Focus<br />
			Quiet Time</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">10:00</td>
				<td class="m">Stagehands Called</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Ben Stanton Approx arrival time</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Run-through on stage for Ben Stanton</td>
			</tr>
			<tr>
				<td class="h">2:30</td>
				<td class="m">Bart Fasbender Approx arrival time</td>
			</tr>
			<tr>
				<td class="h">3:30</td>
				<td class="m">FOCUS</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Audio Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Elex/ Carp/ Props EOD<br />
					AUDIO QUIET TIME</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Audio EOD</td>
			</tr>
		</table>
	</td>
						<!-- THIRTY-SEVENTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Continue Focus<br />
			ACTOR ON STAGE<br />
				Begin Tech</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus and notes</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Resume Focus</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Brian Fauska lands LA</td>
			</tr>
			<tr>
				<td class="h">4:00</td>
				<td class="m">Dennis Called</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Dennis dinner</td>
			</tr>
			<tr>
				<td class="h">6:00 </td>
				<td class="m">Actor half-hour</td>
			</tr>
			<tr>
				<td class="h">6:30 </td>
				<td class="m">Actor on stage<br />
					Begin tech rehearsal</td>
			</tr>
			<tr>
				<td class="h">10:45</td>
				<td class="m">Actor out of costume</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>

						<!-- THIRTY-SEVENTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">TECH REHEARSAL</p>
		
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">10:00</td>
				<td class="m">Notes and setup</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m"><b>Fire Marshal walk-through</b></td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Dennis Called</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actor half-hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actor on stage<br />
					Stagehands back from lunch</td>
			</tr>
			<tr>
				<td class="h">4:00</td>
				<td class="m">Actor out of costume</td>
			</tr>
			<tr>
				<td class="h">4:30</td>
				<td class="m">Dennis dinner</td>
			</tr>
			<tr>
				<td class="h">4:50</td>
				<td class="m">Stagehands dinner</td>
			</tr>
			<tr>
				<td class="h">6:00 </td>
				<td class="m">Actor half-hour<br />
					Stagehands and Dennis back from dinner</td>
			</tr>
			<tr>
				<td class="h">6:30 </td>
				<td class="m">Resume tech rehearsal</td>
			</tr>
			<tr>
				<td class="h">10:15</td>
				<td class="m">Actor out of costume</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Stagehands EOD</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Dennis EOD</td>
			</tr>
		</table>
	

	</td>
						<!-- THIRTY-SEVENTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">TECH REHEARSAL</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">10:00</td>
				<td class="m">Notes and setup</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Hannah Cohen Arrives LA</td>
			</tr>
			<tr>
				<td class="h">11:20</td>
				<td class="m">Stagehands lunch</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Dennis called</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actor half-hour<br />
						Stagehands back from lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actor on stage</td>
			</tr>
			<tr>
				<td class="h">4:00</td>
				<td class="m">Actor out of costume</td>
			</tr>
			<tr>
				<td class="h">4:30</td>
				<td class="m">Dennis dinner</td>
			</tr>
			<tr>
				<td class="h">4:50</td>
				<td class="m">Stagehands dinner</td>
			</tr>
			<tr>
				<td class="h">6:00 </td>
				<td class="m">Actor half-hour<br />
					Stagehands back from dinner</td>
			</tr>
			<tr>
				<td class="h">6:30 </td>
				<td class="m">Resume tech rehearsal</td>
			</tr>
			<tr>
				<td class="h">10:15</td>
				<td class="m">Actor out of costume</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Stagehands EOD</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Dennis EOD</td>
			</tr>
		</table>

	</td>
						<!-- THIRTY-SEVENTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">TECH REHEARSAL</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">10:00</td>
				<td class="m">Notes and setup</td>
			</tr>
			<tr>
				<td class="h">11:20</td>
				<td class="m">Stagehands lunch</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Dennis called</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actor half-hour<br />
						Stagehands back from lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actor on stage</td>
			</tr>
			<tr>
				<td class="h">4:00</td>
				<td class="m">Actor out of costume</td>
			</tr>
			<tr>
				<td class="h">4:30</td>
				<td class="m">Dennis dinner</td>
			</tr>
			<tr>
				<td class="h">4:50</td>
				<td class="m">Stagehands dinner</td>
			</tr>
			<tr>
				<td class="h">6:00 </td>
				<td class="m">Actor half-hour<br />
					Stagehands back from dinner</td>
			</tr>
			<tr>
				<td class="h">6:30 </td>
				<td class="m">Resume tech rehearsal</td>
			</tr>
			<tr>
				<td class="h">10:15</td>
				<td class="m">Actor out of costume</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Stagehands EOD</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Dennis EOD</td>
			</tr>
		</table>

	</td>
						<!-- THIRTY-SEVENTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">PHOTO DRESS IN EVENING</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">10:00</td>
				<td class="m">Notes and setup</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Dennis called</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Dennis lunch</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Dennis back from lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actor half-hour<br />
					Stagehands back from lunch</td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Actor on stage</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Actor out of costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Dennis dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Dennis back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:00 </td>
				<td class="m">Stagehands back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30 </td>
				<td class="m">Actor half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00 </td>
				<td class="m"><b>Invited dress rehearsal<br />
					with photographer present</b></td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Actor out of costume</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Stagehands EOD</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Dennis EOD</td>
			</tr>
		</table>

	</td>
</tr>
						<!-- END OF THIRTY-SEVENTH ROW -->