<!-- _row-29-banners.html.erb -->

<!-- Stripe 1 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=5>
		<p class="boxed show">Previews</p>
	</td>
	<td class="b" colspan=1>
		<p class="boxed show">OPENING</p>
	</td>

<%= render 'layouts/spacer_row' %>

<!-- Stripe 2 -->

<tr>
	<td class="b" colspan=7>
		<p class="boxed travel flushleft"><< Jim Ingalls in LA</p>
	</td>

<%= render 'layouts/spacer_row' %>

<!-- Stripe 3 -->

<tr>
	<td class="b" colspan=6>
		<p class="boxed travel flushleft"><< ALD (Heather Graff) in LA</p>
	</td>
	<td class="o"> </td>
</tr>

<%= render 'layouts/spacer_row' %>






