<!-- _row-28-banners.html.erb -->

<!-- Stripe 1 -->

<tr>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p class="boxed show">FIRST PREVIEW</p>
	</td>
	<td class="b" colspan=3>
		<p class="boxed show">Previews</p>
	</td>
		<td class="b" colspan=1>
		<p class="boxed show">OPENING</p>
	</td>
	<td class="o"> </td>
</tr>
	
<%= render 'layouts/spacer_row' %>


<!-- Stripe 2 -->

<tr>
	<td class="b" colspan=6>
		<p class="boxed travel flushleft"><< Ben Stanton in LA >></p>
	</td>
	<td class="o"> </td>
</tr>

<%= render 'layouts/spacer_row' %>

<!-- Stripe 3 -->

<tr>
	<td class="b" colspan=7>
		<p class="boxed travel bleed"><< Bart Fasbender in LA >></p>
	</td>
</tr>

<%= render 'layouts/spacer_row' %>

<!-- Stripe 4 -->

<tr>
	<td class="b" colspan=4>
		<p class="boxed travel flushleft"><< Brian Fauska in LA</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>

<%= render 'layouts/spacer_row' %>


