<% provide(:title, "Humor Abuse") %>
<% provide(:issue_number, '#1') %>
<% provide(:issue_date, '9/11/2013') %>

<div id="calendar">
	<table>

		<%= render 'layouts/day_names' %>

									<!-- FIFTH ROW - week 37 - Humor Tech / Previews -->
		<%= render 'layouts/row-37-dates' %>
		<%= render 'humor/row-37-banners' %>
		<%= render 'humor/row-37-events' %>


	</table>
</div>
