																											<!-- Stripe 2 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p class="boxed">LOAD OUT "NOVEMBER"</p>
	</td>
	<td class="o"> </td>
	<td class="b" colspan=3>
		<p class="boxed">PRE-RIG "OTHER DESERT CITIES"</p>
	</td>
	<td class="o"> </td>
</tr>
<%= render 'layouts/spacer_row' %>