							<!-- FIRST row banners - stripe 2 -->
<tr>
	<td class="b" colspan=7>
		<p id= "boxedbleedtravel"><< CHRISTOPHER ORAM IN LA >></p>
	</td>
</tr>	
		<%= render 'layouts/spacer_row' %>
							<!-- FIRST row banners - stripe 3 -->
<tr>
	<td class="b" colspan=7>
		<p id= "boxedflushrighttravel">NEIL AUSTIN IN LA >></p>
	</td>
</tr>	
		<%= render 'layouts/spacer_row' %>
							<!-- FIRST row banners - stripe 4 -->
<tr>
	<td class="b" colspan=7>
		<p id= "boxedflushrighttravel">CHRIS CRONIN IN LA >></p>
	</td>
</tr>	
		<%= render 'layouts/spacer_row' %>
