<tr id="day_names_multi_page">		<!-- Days of the week-->
	<td id="day_names">Mon</td>
	<td id="day_names">Tue</td>
	<td id="day_names">Wed</td>
	<td id="day_names">Thu</td>
	<td id="day_names">Fri</td>
	<td id="day_names">Sat</td>
	<td id="day_names">Sun</td>
</tr>