						<!-- FIFTH ROW EVENTS -->  
<tr>
						<!-- FIFTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
	</td>
						<!-- FIFTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>

													<!-- Timed events -->

		<table class="mini_cell">
			<tr>
				<td class="h new">1:00</td>
				<td class="m new">Stagehands Called</td>
			</tr>
			<tr>
				<td class="h new">1:30</td>
				<td class="m new">Stage Doorperson Called</td>
			</tr>
			<tr>
				<td class="h new">2:30</td>
				<td class="m new">Actors Rehearse on stage<br />
					Dennis called for pieces</td>
			</tr>
			<tr>
				<td class="h new">5:15</td>
				<td class="m new">Actors' Dinner</td>
			</tr>
			<tr>
				<td class="h new">5:50</td>
				<td class="m new">Stagehands' Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Dressers, Hair called</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>7th Preview</u></b></td>
			</tr>
		</table>

	</td>
						<!-- FIFTH Row Column 3 Wednesday -->

	<td class="i">
													<!-- Full day events-->
		<p class="hang">No Afternoon Rehsl / Preview</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">6:00</td>
				<td class="m">Stagehands called</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Dressers, Hair called</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>8th Preview</u></b></td>
			</tr>
		</table>
	</td>

						<!-- FIFTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl, Paint Call for Sign / Preview</p>
		
													<!-- Timed events -->

		<table class="mini_cell">
			<tr>
				<td class="h new">1:00</td>
				<td class="m new">Carps, Props, Scenic Artists Called</td>
			</tr>
			<tr>
				<td class="h new">2:00</td>
				<td class="m new">Understudies Rehearse in room A</td>
			</tr>
			<tr>
				<td class="h new">3:00</td>
				<td class="m new">Stage Doorperson Called</td>
			</tr>
			<tr>
				<td class="h new">4:00</td>
				<td class="m new">Principals Called</td>
			</tr>
			<tr>
				<td class="h new">5:00</td>
				<td class="m new">Actors' Dinner</td>
			</tr>
			<tr>
				<td class="h new">5:50</td>
				<td class="m new">Stagehands' Dinner<br />
					Paint Call finishes</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Dressers, Hair called</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>9th Preview</u></b></td>
			</tr>
		</table>		
		
	</td>
	
						<!-- FIFTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Rehearsal TBD / Preview </p>
						<p class="hang">Freeze show</p>

	</td>
						<!-- FIFTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Two-performance day.  No rehearsal</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">2:00</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">2:30</td>
				<td class="m"><b><u>11th Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>12th Preview</u></b></td>
			</tr>
		</table>
	</td>
						<!-- FIFTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">One-performance day.  No rehearsal</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">6:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m"><b><u>OPENING</u></b></td>
			</tr>
		</table>
	</td>
</tr>
						<!-- END OF FIFTH ROW -->  
