							<!-- FIFTH row banners - stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=5>
		<p id="boxed"><<  PREVIEWS </p>
	</td>
	<td class="b"> 
		<p id="boxed"> OPENING </p>				
	</td>
</tr>
<%= render 'layouts/spacer_row' %>
