							<!-- Dates above the FIRST Row of Cells -->
<tr>
	<td class="d">Nov 5</td>
	<td class="d">6</td>
	<td class="d">7</td>
	<td class="d">8</td>
	<td class="d">9</td>
	<td class="d">10</td>
	<td class="d">11</td>
</tr>
