																											<!-- Stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=6>
		<p id="boxed">Actors in Annex Rehearsal Hall</p>
	</td>
</tr>
<%= render 'layouts/spacer_row' %>
																											<!-- Stripe 2 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p id="boxed">LOAD OUT "NOVEMBER"</p>
	</td>
	<td class="o"> </td>
	<td class="b" colspan=3>
		<p id="boxed">PRE-RIG "OTHER DESERT CITIES"</p>
	</td>
	<td class="o"> </td>
</tr>
<%= render 'layouts/spacer_row' %>
