							<!-- FIRST row banners - stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=2>
		<p id="boxed">Actors in Annex Rehearsal Hall</p>
	</td>
	<td class="b" colspan=4>
		<p id="boxed">Tech Rehearsals at the Taper</p>
	</td>
</tr>
		<%= render 'layouts/spacer_row' %>
							<!-- FIRST row banners - stripe 2 -->
<tr>
	<td class="b" colspan=7>
		<p id= "boxedbleedtravel"><< CHRISTOPHER ORAM IN LA >></p>
	</td>
</tr>	
		<%= render 'layouts/spacer_row' %>
							<!-- FIRST row banners - stripe 3 -->
<tr>
	<td class="b" colspan=7>
		<p id= "boxedflushrighttravel">NEIL AUSTIN IN LA >></p>
	</td>
</tr>	
		<%= render 'layouts/spacer_row' %>
							<!-- FIRST row banners - stripe 4 -->
<tr>
	<td class="b" colspan=7>
		<p id= "boxedflushrighttravel">CHRIS CRONIN IN LA >></p>
	</td>
</tr>	
		<%= render 'layouts/spacer_row' %>
