<!-- FIRST ROW EVENTS --> 

<tr>
																														<!-- Column 1 Monday -->
	<td class="i">
																																	<!-- Full day events-->
		<p class="hang">DAY OFF</p><br/>
	</td>
																																	<!-- Timed events -->

																														<!-- Column 2 Tuesday -->
	<td class="i">
																																	<!-- Full day events-->
		<p class="hang">ELECTION DAY</p>
																																	<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Load Out <em>November</em> <br/>
					Dumpsters in valet parking area
				</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee Break</td>
			</tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
				<td class="h">2:00</td>
				<td class="m">Resume Load Out</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands End of Day</td>
			</tr>
		</table>
		
	</td>
																														<!-- Column 3 Wednesday -->
	<td class="i">
																																	<!-- Full day events-->
		<p class="hang">FALL ARREST TRAINING</p>
		<p class="hang">No activity in theatre</p>
																																	<!-- Timed events -->
																																	
																													<!-- Column 4 Thursday -->
	<td class="i">
																																	<!-- Full day events-->

																																	<!-- Timed events -->

		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Pre-rig <em>Other Desert Cities</em></td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee Break</td>
			</tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
				<td class="h">2:00</td>
				<td class="m">Resume Pre-rig</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands End of Day</td>
			</tr>
		</table>
			
	</td>
																														<!-- Column 5 Friday -->
	<td class="i">
																																	<!-- Full day events-->

																																	<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Pre-rig <em>Other Desert Cities</em></td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee Break</td>
			</tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
				<td class="h">2:00</td>
				<td class="m">Resume Pre-rig</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands End of Day</td>
			</tr>
		</table>

	</td>
																														<!-- FIRST Row Column 6 Saturday -->
	<td class="i">
																																	<!-- Full day events-->

																																	<!-- Timed events -->

		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Pre-rig <em>Other Desert Cities</em></td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee Break</td>
			</tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
				<td class="h">2:00</td>
				<td class="m">Resume Pre-rig</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands End of Day</td>
			</tr>
		</table>
	</td>
																														<!-- FIRST Row Column 7 Sunday -->
	<td class="i">
																																	<!-- Full day events-->
		<p class="hang">STAGEHANDS' DAY OFF'</p>
																																	<!-- Timed events -->
	</td>
</tr>

<!-- END OF FIRST ROW -->  
