						<!-- FOURTH ROW EVENTS -->  
<tr>
						<!-- FOURTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
	</td>
						<!-- FOURTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">8/10 Day</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Fire Marshal walk-through</td>
			</tr>
			<tr>
				<td class="h new">11:30</td>
				<td class="m new">Hair called (Rick and Aubrey) for haircuts</td>
			</tr>
			<tr>
				<td class="h new">12:20</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h new">12:30</td>
				<td class="m new">Wardrobe called</td>
			</tr>
			<tr>
				<td class="h new">1:00</td>
				<td class="m">Actors' Half-hour into costumes</td>
			</tr>
			<tr>
				<td class="h new">1:30</td>
				<td class="m">Actors on stage in costume<br />
				Stagehands back from lunch</td>
			</tr>
			<tr>
				<td class="h new">5:30</td>
				<td class="m new">Out of costume<br />
					Wardrobe, Rick dinner<br />
					Aubrey haircut<br />
					Strike some tech tables for invited dress</td>
			</tr>
			<tr>
				<td class="h new">5:50</td>
				<td class="m new">Stagehands dinner (except Ruby and Bubba)</td>
			</tr>
			<tr>
				<td class="h new">6:20</td>
				<td class="m new">Ruby and Bubba dinner (buyout)</td>
			</tr>
			<tr>
				<td class="h new">6:30</td>
				<td class="m new">Wardrobe, Rick back from dinner<br />
					Aubrey EOD</td>
			</tr>
			<tr>
				<td class="h new">7:00</td>
				<td class="m new">Actors' Half-hour into costumes<br/>
					Stagehands back from dinner</td>
			</tr>
			<tr>
				<td class="h new">7:15</td>
				<td class="m new">House opens</td>
			</tr>

			<tr>
				<td class="h new">7:30</td>
				<td class="m new"><b><u>Invited Dress Rehearsal w/ Photog.</u></b></td>
			</tr>
			<tr>
				<td class="h new">9:50</td>
				<td class="m new">House clears -- <b><u>NO Photo Setups</u></b><br />
					Actors out of costumes					
				</td>
			</tr>
			<tr>
				<td class="h new">10:00</td>
				<td class="m">Stagehands EOD</td>
			</tr>
			<tr>
				<td class="h new">10:30</td>
				<td class="m">Actors, Wardrobe, Hair EOD</td>
			</tr>
		</table>
	</td>
						<!-- FOURTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / First Preview</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Wardrobe called</td>
			</tr>
			<tr>
				<td class="h new">1:00</td>
				<td class="m new">Actors called into costumes (No Hair)</td>
			</tr>
			<tr>
				<td class="h new">1:30</td>
				<td class="m new">Actors on stage when ready</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Out of Costume<br />
					Crew strikes tech tables<br />
					Props prep for performance
				</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m new">Wardrobe back from dinner<br />
					Hair called</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>First Preview Performance</u></b></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD - Design Notes in house
				</td>
			</tr>
		</table>

						<!-- FOURTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h new">11:00</td>
				<td class="m new">Props called to set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Props Lunch</td>
			</tr>
			<tr>
				<td class="h new">1:00</td>
				<td class="m new">Carps, Elex, Audio called<br />
					Quiet time for sound</td>
			</tr>
			<tr>
				<td class="h new">2:00</td>
				<td class="m new">Actors' calls begin<br />
					Dennis called for pieces
				</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Actors break for dinner</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Dennis dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m new">Dressers, Hair called <br />
					Dennis back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>2nd Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD - Design Notes in hose
				</td>
			</tr>
		</table>

	</td>
						<!-- FOURTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h new">10:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors notes in lobby<br/>
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume pieces only<br />
					Dennis called (no dressers)</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Out of Costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Dennis Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Dennis back from dinner<br />
					Dressers, Hair called</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>3rd Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD - Design Notes in House
				</td>
			</tr>
		</table>

	</td>
						<!-- FOURTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">10:00</td>
				<td class="m">Set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' notes in house</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage<br />
					Dennis called for pieces</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Out of Costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Dennis Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Dennis back from dinner<br />
					Dressers, Hair called</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>4th Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD - Design Notes in house</td>
			</tr>
		</table>
	</td>
						<!-- FOURTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Two-performance day.  No rehearsal</p>
													<!-- Timed events -->

		<table class="mini_cell">
			<tr>
				<td class="h">11:00</td>
				<td class="m">Carp/Props Set up</td>
			</tr>
			<tr>
				<td class="h new"> </td>
				<td class="m new">Audio runs cable for B-roll shoot</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Elex Set up<br />
					Wardrobe, Hair Called
				</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m"><b><u>5th Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">3:30</td>
				<td class="m">Dinner</td>
			</tr>
			<tr>
				<td class="h">4:30</td>
				<td class="m">Carp/Props Set up</td>
			</tr>
			<tr>
				<td class="h new"> </td>
				<td class="m new">Audio B-Roll Camera Setup</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Elex/Audio Set up<br />
					Wardrobe, Hair Called
				</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m"><b><u>6th Preview</u></b></td>
			</tr>
			<tr>
				<td class="h new"> </td>
				<td class="m new">B-roll shoot during performance</td>
			</tr>
			<tr>
				<td class="h">9:00</td>
				<td class="m">EOD - Design Notes in house?</td>
			</tr>
		</table>
	</td>
</tr>

						<!-- END OF FOURTH ROW -->  
