							<!-- Dates above the FOURTH Row of Cells -->
<tr>
	<td class="d">Nov&nbsp;26</td>
	<td class="d">27</td>
	<td class="d">28</td>
	<td class="d">29</td>
	<td class="d">30</td>
	<td class="d">Dec&nbsp;1</td>
	<td class="d">2</td>
</tr>
