						<!-- FOURTH ROW EVENTS -->  
<tr>
						<!-- FOURTH Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
	</td>
						<!-- FOURTH Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">8/10 Day</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Fire Marshal walk-through</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Wardrobe, Hair called
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume<br />
					Stagehands back from lunch</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Out of costume</td>
			</tr>
			<tr>
				<td class="h">5:20</td>
				<td class="m">Stagehands dinner</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Stagehands, Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors on stage -- <b><u>Photo Setups</u></b></td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>Invited (?) Dress Rehearsal w/ Photog.</u></b></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Out of costumes<br />
					Design Notes in house
				</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Stagehands, Wardrobe, Hair EOD</td>
			</tr>
		</table>
	</td>
						<!-- FOURTH Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / First Preview</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Wardrobe, Hair called
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Out of Costume<br />
					Crew strikes tech tables<br />
					Props prep for performance
				</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>First Preview Performance</u></b></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD - Design Notes in house
				</td>
			</tr>
		</table>

						<!-- FOURTH Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Wardrobe, Hair called
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Out of Costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>2nd Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD - Design Notes in hose
				</td>
			</tr>
		</table>

	</td>
						<!-- FOURTH Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors notes in lobby<br/>
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume pieces only<br />
					Dennis called (no dressers)</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Out of Costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Dennis Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Dennis back from dinner<br />
					Dressers, Hair called</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>3rd Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD - Design Notes in House
				</td>
			</tr>
		</table>

	</td>
						<!-- FOURTH Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">10:00</td>
				<td class="m">Set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' notes in house</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage<br />
					Dennis called for pieces</td>
			</tr>
			<tr>
				<td class="h">5:15</td>
				<td class="m">Out of Costume</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Dennis Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Dennis back from dinner<br />
					Dressers, Hair called</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>4th Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">EOD - Design Notes in house
				</td>
			</tr>
		</table>
	</td>
						<!-- FOURTH Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Two-performance day.  No rehearsal</p>
													<!-- Timed events -->

		<table class="mini_cell">
			<tr>
				<td class="h">11:00</td>
				<td class="m">Carp/Props Set up</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Elex/Audio Set up<br />
					Wardrobe, Hair Called
				</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m"><b><u>5th Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">3:30</td>
				<td class="m">Dinner</td>
			</tr>
			<tr>
				<td class="h">4:30</td>
				<td class="m">Carp/Props Set up</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Elex/Audio Set up<br />
					Wardrobe, Hair Called
				</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m"><b><u>6th Preview</u></b></td>
			</tr>
			<tr>
				<td class="h">9:00</td>
				<td class="m">EOD - Design Notes in house?/td>
			</tr>
		</table>
	</td>
</tr>

						<!-- END OF FOURTH ROW -->  
