<!-- FOURTH row banners - stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p id="boxed">Final Dress / Photo</p>
	</td>
	<td class="b" colspan=5>
		<p id="boxedflushright">PREVIEWS >></p>
	</td>
</tr>
<%= render 'layouts/spacer_row' %>
