<!-- _row-43-dates.html.erb -->

<tr>
	<td class="d">Oct&nbsp;21</td>
	<td class="d">22</td>
	<td class="d">23</td>
	<td class="d">24</td>
	<td class="d">25</td>
	<td class="d">26</td>
	<td class="d">27</td>
</tr>