<!-- _row-37-dates.html.erb -->

<tr>
	<td class="d">Sep&nbsp;9</td>
	<td class="d">10</td>
	<td class="d">11</td>
	<td class="d">12</td>
	<td class="d">13</td>
	<td class="d">14</td>
	<td class="d">15</td>
</tr>