<!-- _row-47-dates.html.erb -->

<tr>
	<td class="d">Nov&nbsp;18</td>
	<td class="d">19</td>
	<td class="d">20</td>
	<td class="d">21</td>
	<td class="d">22</td>
	<td class="d">23</td>
	<td class="d">24</td>
</tr>