<!-- _row-21-dates.html.erb -->

<tr>
	<td class="d">May&nbsp;20</td>
	<td class="d">21</td>
	<td class="d">22</td>
	<td class="d">23</td>
	<td class="d">24</td>
	<td class="d">25</td>
	<td class="d">26</td>
</tr>