<!-- _row-26-dates.html.erb -->

<tr>
	<td class="d">Jun&nbsp;24</td>
	<td class="d">25</td>
	<td class="d">26</td>
	<td class="d">27</td>
	<td class="d">28</td>
	<td class="d">29</td>
	<td class="d">30</td>
</tr>