<!-- _row-39-dates.html.erb -->

<tr>
	<td class="d">Sep&nbsp;23</td>
	<td class="d">24</td>
	<td class="d">25</td>
	<td class="d">26</td>
	<td class="d">27</td>
	<td class="d">28</td>
	<td class="d">29</td>
</tr>