<!-- _row-38-dates.html.erb -->

<tr>
	<td class="d">Sep&nbsp;16</td>
	<td class="d">17</td>
	<td class="d">18</td>
	<td class="d">19</td>
	<td class="d">20</td>
	<td class="d">21</td>
	<td class="d">22</td>
</tr>