						<!-- SECOND ROW EVENTS -->  
<tr>
						<!-- SECOND Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">SCENERY TRUCKS ARRIVE</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m"><em>Unload 53' trailer #1</em></td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Unload 53' trailer #2</td>
			</tr>
				<td class="h">12:50</td>
				<td class="m">Lunch<br/>
					Last truck leaves</td>
			</tr>
				<td class="h">2:00</td>
				<td class="m">Resume Load-in</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands End of Day</td>
			</tr>
		</table>



	</td>
						<!-- SECOND Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load-in - Day 2</p>

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue Load-in</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume Load-in</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands EOD</td>
			</tr>
		</table>
	</td>
						<!-- SECOND Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load-in - Day 3</p>


													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue Load-in</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume Load-in</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands EOD</td>
			</tr>
			
		</table>

						<!-- SECOND Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load-in - Day 4</p>
		<p class="hang">Possible PAINT CALL</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h"><b>TBD</b></td>
				<td class="m"><b>Tak in to supervise paint call</b></td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue Load-in</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume Load-in</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands EOD</td>
			</tr>

		</table>

	</td>
						<!-- SECOND Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Possible DAY OFF<br />
			Or continue load-in</p>

													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Continue Load-in</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Resume Load-in</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Stagehands EOD</td>
			</tr>

		</table>

	</td>
						<!-- SECOND Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">STAGEHANDS DAY OFF</p>

													<!-- Timed events -->
		<table class="mini_cell">

		</table>
	</td>
						<!-- SECOND Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">STAGEHANDS DAY OFF</p>
		
													<!-- Timed events -->
		<table class="mini_cell">

		</table>
	</td>
</tr>
						<!-- END OF SECOND ROW -->  
