																											<!-- Stripe 1 -->
<tr>
	<td class="b" colspan=5>
		<p class="boxed">LOAD IN</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>	
</tr>
<%= render 'layouts/spacer_row' %>
<tr>
	<td class="b" colspan=3>
		<p class= "boxed travel">BEN WOJCIK (F&D) IN LA</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>	
<%= render 'layouts/spacer_row' %>

