						<!-- SECOND ROW EVENTS -->  
<tr>
						<!-- SECOND Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
	</td>
						<!-- SECOND Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->

													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Fire Marshal walk-through</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Wardrobe, Hair called
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Out of costume<br/>
					Stagehands clean up<br />
					<em>Note:  Actors may rehearse longer if 
						no cleanup is required</em>
				</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Stagehands, Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Actors on stage -- <b><u>Photo Setups</u></b> if necessary</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>Invited (?) Dress Rehearsal w/ Photographer</u></b> (7:30 if no setups are required)</td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Dress Rehearsal ends, audience clears<br />
					Actors continue to rehearse, TBD
				</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Out of costumes<br />
					Stagehands clean up<br />
					Tech Notes
				</td>
			</tr>
			<tr>
				<td class="h">11:00</td>
				<td class="m">Wardrobe, Hair EOD</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Stagehands EOD</td>
			</tr>
		</table>
	</td>
						<!-- SECOND Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / First Preview</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Wardrobe, Hair called
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume</td>
			</tr>
			<tr>
				<td class="h">4:30</td>
				<td class="m">Out of Costume<br />
					Stagehands clean up<br />
					Crew strikes tech tables<br/>
					<em>Note:  Can happen at 5:00 if no cleanup required</em>
				</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m"><b><u>First Preview Performance</u></b></td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Carps/Props clean up<br />
					Tech Notes
				</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Carps/Props finish</td>
			</tr>
		</table>

						<!-- SECOND Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Wardrobe, Hair called
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Out of Costume<br />
					Stagehands clean up
				</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Wardrobe, Hair dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Wardrobe, Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Preview</td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Carps/Props clean up<br />
					Tech Notes
				</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Carps/Props finish</td>
			</tr>
		</table>

	</td>
						<!-- SECOND Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>
													<!-- Timed Events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Notes, set up for rehearsal</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors notes in lobby<br/>
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume pieces only<br />
					Dennis called (no dressers)<br />
					<em>No Hair/Make-up called from this point forward 
					(except possibly for B-Roll on Sat)</em>
				</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Actors Dinner<br />
					Dennis Dinner <br />
					Stagehands clean up
				</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Dennis back from dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Dressers called</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Preview</td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Carps/Props clean up<br />
					Tech Notes
				</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Carps/Props finish</td>
			</tr>
		</table>

	</td>
						<!-- SECOND Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>
		<p class="hang">B-Roll shoot</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h"><b>10:00</b></td>
				<td class="m">Set up for rehearsal, B-Roll</td>
			</tr>
			<tr>
				<td class="h">11:20</td>
				<td class="m">Audio Lunch
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands (CPE) Lunch</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors' Half-hour into costumes<br/>
					Wardrobe, Hair called<br />
					Audio back from lunch<br />
					<b><u>Cameras Set Up</u></b>
				</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Actors on stage in costume - B-Roll
				</td>
			</tr>
			<tr>
				<td class="h">4:30</td>
				<td class="m">Hair EOD
				</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Actors Dinner<br />
					Wardrobe Dinner <br />
					Stagehands clean up
				</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Wardrobe back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Stagehands resume setup</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Preview</td>
			</tr>
			<tr>
				<td class="h">9:30</td>
				<td class="m">Carps/Props clean up<br />
					Tech Notes
				</td>
			</tr>
			<tr>
				<td class="h">10:30</td>
				<td class="m">Carps/Props finish</td>
			</tr>
		</table>
	</td>
						<!-- SECOND Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Two-performance day.  No rehearsal</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">11:00</td>
				<td class="m">Carp/Props Set up</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Add Props Asst<br />
					Elex/Audio Set up<br />
					Wardrobe Called
				</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Performance</td>
			</tr>
			<tr>
				<td class="h">2:30</td>
				<td class="m">Performance Ends<br />
					Carps/Props Clean up
				</td>
			</tr>
			<tr>
				<td class="h">3:30</td>
				<td class="m">Carps, Props, Wardrobe Dinner</td>
			</tr>
			<tr>
				<td class="h">4:30</td>
				<td class="m">Carp/Props Set up</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Add Props Asst<br />
					Elex/Audio Set up<br />
					Wardrobe Called
				</td>
			</tr>
			<tr>
				<td class="h">6:00</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">6:30</td>
				<td class="m">Performance</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Performance Ends<br />
					Carps/Props Clean up
				</td>
			</tr>
			<tr>
				<td class="h">9:00</td>
				<td class="m">Carps, Props, Wardrobe EOD</td>
			</tr>
		</table>
	</td>
</tr>
						<!-- END OF SECOND ROW -->  
