							<!-- SECOND row banners - stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=1>
		<p id="boxed">Final Dress / Photo</p>
	</td>
	<td class="b" colspan=5>
		<p id="boxedflushright">Previews >></p>
	</td>
</tr>
<%= render 'layouts/spacer_row' %>
							<!-- SECOND row banners - stripe 2 -->
<tr>
	<td class="b" colspan=7>
		<p id= "boxedbleedtravel"><< CHRISTOPHER ORAM and NEIL AUSTIN IN LA >></p>
	</td>
</tr>	
<%= render 'layouts/spacer_row' %>

							<!-- SECOND row banners - stripe 3 -->
<tr>
	<td class="b" colspan=6>
		<p id= "boxedflushlefttravel"><< CHRIS CRONIN IN LA</p>
	</td>
	<td class="b" colspan=1>
		<p id= "boxedtravel">CRONIN DEPARTS</p>
	</td>
</tr>	
<%= render 'layouts/spacer_row' %>

