							<!-- Spacer Row Holiday Thursday -->
<tr>
	<td class="s"> </td>
	<td class="s"> </td>
	<td class="s"> </td>
	<td class="s holiday"> </td>
	<td class="s"> </td>
	<td class="s"> </td>
	<td class="s"> </td>
</tr>
