							<!-- THIRD row banners - stripe 1 -->
<tr>
	<td class="o"> </td>
	<td class="b" colspan=5>
		<p id="boxed"><<  Previews </p>
	</td>
	<td class="b"> 
		<p id="boxed"> OPENING </p>				
	</td>
</tr>
<%= render 'layouts/spacer_row' %>
							<!-- THIRD row banners - stripe 2 -->
<tr>
	<td class="b" colspan=4>
		<p id= "boxedflushlefttravel"><< NEIL AUSTIN STILL IN LA</p>
	</td>
	<td class="b" colspan=1>
		<p id= "boxedtravel"> NEIL AUSTIN DEPARTS</p>
	</td>
	<td class="o"> </td>
	<td class="o"> </td>
</tr>	
<%= render 'layouts/spacer_row' %>
							<!-- THIRD row banners - stripe 3 -->
<tr>
	<td class="b" colspan=7>
		<p id= "boxedbleedtravel"><< CHRISTOPHER ORAM IN LA >></p>
	</td>
</tr>	
<%= render 'layouts/spacer_row' %>
