						<!-- THIRD ROW EVENTS -->  
<tr>
						<!-- THIRD Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
	</td>
						<!-- THIRD Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>
													<!-- Timed events -->

	</td>
						<!-- THIRD Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>

						<!-- THIRD Row Column 4 Thursday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Afternoon Rehsl / Preview</p>
	</td>
						<!-- THIRD Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Rehearsal TBD / Preview </p>
						<p class="hang">Freeze show</p>

	</td>
						<!-- THIRD Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Two-performance day.  No rehearsal</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">2:00</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">2:30</td>
				<td class="m">Matinee Performance</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">8:00</td>
				<td class="m">Performance</td>
			</tr>
		</table>
	</td>
						<!-- THIRD Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">One-performance day.  No rehearsal</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">6:30</td>
				<td class="m">Half-hour</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">OPENING</td>
			</tr>
		</table>
	</td>
</tr>
						<!-- END OF THIRD ROW -->  
