						<!-- THIRD ROW EVENTS -->  
<tr>
						<!-- THIRD Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
	</td>
						<!-- THIRD Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">FOCUS</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus with Lap</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Continue Focus</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- THIRD Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">FOCUS</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus with Lap</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Audio Lunch</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Carps/Props/Elex Lunch<br />Lap leaves for the day</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">Audio Quiet Time</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Scenery and Props notes TBD</td>
			</tr>
			<tr>
				<td class="h">3:00</td>
				<td class="m">Costumes delivered to MTF from Shop</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>


						<!-- THIRD Row Column 4 Thursday -->
	<td class="i holiday">
													<!-- Full day events-->
		<p class="hang">THANKSGIVING</p>
		<p class="hang">Day Off</p>
	</td>
						<!-- THIRD Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load in Props, Check in Costumes</p>
		<p class="hang">Actors On Stage</p>

													<!-- Timed events-->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Stake Truck at Annex<br />
					Move rehearsal props and furniture to MTF<br />Dress Set</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Stage Doorperson Called<br />
					Wardrobe called to check in costumes<br />
					Hair called to set up room</td>
			</tr>
			<tr>
				<td class="h">2:30</td>
				<td class="m">ACTORS CALLED TO STAGE <br />(Spacing rehearsal. No costumes)</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors Dinner<br />
					Wardrobe Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors Half Hour<br />
					Wardrobe back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">ACTORS ON STAGE IN COSTUME</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">EOD<br />Notes in house</td>
			</tr>
		</table>

	</td>
						<!-- THIRD Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">PAINT CALL</p>
		<p class="hang">Tech Rehearsal - 10/12</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Paint Call</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Stage Doorperson Called</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch <br />
					(except one props assistant stays)</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors Half Hour<br />Wardrobe/Hair called</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Scenic Artists Finish<br />
					Props Assistant Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">ACTORS ON STAGE IN COSTUME<br />
					Stagehands Back from Lunch</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors Dinner<br />
					Wardrobe/Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors Half Hour<br />
					Stagehands/Wardrobe/Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">ACTORS ON STAGE IN COSTUME</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">EOD<br />Notes in house</td>
			</tr>
		</table>
	</td>
						<!-- THIRD Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">(Possible) PAINT CALL</p>
		<p class="hang">Tech Rehearsal - 10/12</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Paint Call ??</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Coffee</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Stage Doorperson Called</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch <br />
					(except one props assistant stays)</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors Half Hour<br />Wardrobe/Hair called</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Scenic Artists Finish<br />
					Props Assistant Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">ACTORS ON STAGE IN COSTUME<br />
					Stagehands Back from Lunch</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors Dinner<br />
					Wardrobe/Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors Half Hour<br />
					Stagehands/Wardrobe/Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">ACTORS ON STAGE IN COSTUME</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">EOD<br />Notes in house</td>
			</tr>
		</table>
	</td>
</tr>
						<!-- END OF THIRD ROW -->  
