						<!-- THIRD ROW EVENTS -->  
<tr>
						<!-- THIRD Row Column 1 Monday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">DAY OFF</p>
	</td>
						<!-- THIRD Row Column 2 Tuesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">FOCUS</p>
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus with Lap</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Lunch</td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Continue Focus<br />
					Finish upstage to be clear for scenics tomorrow</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">EOD</td>
			</tr>
		</table>
	</td>
						<!-- THIRD Row Column 3 Wednesday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">FOCUS</p>
		<p class="hang">PAINT CALL</p>
		
													<!-- Timed events -->
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Focus with Lap</td>
			</tr>
			<tr>
				<td class="h">10:00</td>
				<td class="m">Scenic Artists called<br />
					Add prop crew for paint call</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Audio Lunch<br />
					Focus continues without headsets</td>
			</tr>
			<tr>
				<td class="h new">12:00</td>
				<td class="m new"><b>(or 1:00) Second Designer Run-Through at Annex<br />
					Include Wardrobe Crew, Tak, Lap</b></td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Carps/ Props/ Elex/ Scenics Lunch<br />Lap leaves for the day</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m"><b>Audio Quiet Time</b></td>
			</tr>
			<tr>
				<td class="h">2:00</td>
				<td class="m">Paint call continues <br />
					Scenery and Props work notes TBD</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Elex/ Audio EOD</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Carps/ Props/ Scenics EOD</td>
			</tr>
		</table>


						<!-- THIRD Row Column 4 Thursday -->
	<td class="i holiday">
													<!-- Full day events-->
		<p class="hang">THANKSGIVING</p>
		<p class="hang">Day Off</p>
	</td>
						<!-- THIRD Row Column 5 Friday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">Load in Props, Check in Costumes</p>
		<p class="hang">Actors On Stage</p>

													<!-- Timed events-->
		<table class="mini_cell">
			<tr>
				<td class="h new">8:00</td>
				<td class="m new">Stake Truck at Annex to move rehearsal props and furniture to MTF</td>
			</tr>
			<tr>
				<td class="h"> </td>
				<td class="m">Dress Set</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Stagehands Lunch</td>
			</tr>
			<tr>
				<td class="h new"><b>1:00</b></td>
				<td class="m new"><b>(am) Stake truck picks up costumes from costume shop</b></td>
			</tr>
			<tr>
				<td class="h">1:30</td>
				<td class="m">Stage Doorperson Called</td>
			</tr>
			<tr>
				<td class="h new">2:00</td>
				<td class="m new">Wardrobe called to check in costumes<br />
					Stake Truck Delivers costumes to MTF</td>
			</tr>
			<tr>
				<td class="h">2:30</td>
				<td class="m">ACTORS CALLED TO STAGE <br />(Spacing rehearsal. No costumes)</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors Dinner</td>
			</tr>
				<td class="h new">6:00</td>
				<td class="m new">Dennis Dinner<br />
					Dressers EOD</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h new">7:00</td>
				<td class="m new">Actors to the stage<br />
					(Spacing rehearsal.  Costume pieces only)</td>
			</tr>
			<tr>
				<td class="h new"> </td>
				<td class="m new">Dennis back from dinner<br />
					Hair called to set up room</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Dismiss Actors<br />
					Power down electrics</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">EOD<br />Notes in house</td>
			</tr>
		</table>

	</td>
						<!-- THIRD Row Column 6 Saturday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">PAINT CALL</p>
		<p class="hang">Tech Rehearsal - 10/12</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Paint Call</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Stage Doorperson Called</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch <br />
					(except one props assistant stays)</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors Half Hour<br />Wardrobe/Hair called</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Scenic Artists Lunch<br />
					Props Assistant Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">ACTORS ON STAGE IN COSTUME<br />
					Stagehands Back from Lunch</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Scenic Artists Finish</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors Dinner<br />
					Wardrobe/Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors Half Hour<br />
					Stagehands/ Wardrobe/ Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">ACTORS ON STAGE IN COSTUME</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">EOD<br />Notes in house</td>
			</tr>
		</table>
	</td>
						<!-- THIRD Row Column 7 Sunday -->
	<td class="i">
													<!-- Full day events-->
		<p class="hang">(Possible) PAINT CALL</p>
		<p class="hang">Tech Rehearsal - 10/12</p>
													<!-- Timed events -->
		
		<table class="mini_cell">
			<tr>
				<td class="h">8:00</td>
				<td class="m">Paint Call ??</td>
			</tr>
			<tr>
				<td class="h">11:30</td>
				<td class="m">Stage Doorperson Called</td>
			</tr>
			<tr>
				<td class="h">11:50</td>
				<td class="m">Stagehands Lunch <br />
					(except one props assistant stays)</td>
			</tr>
			<tr>
				<td class="h">12:30</td>
				<td class="m">Actors Half Hour<br />Wardrobe/Hair called</td>
			</tr>
			<tr>
				<td class="h">12:50</td>
				<td class="m">Scenic Artists Lunch<br />
					Props Assistant Lunch</td>
			</tr>
			<tr>
				<td class="h">1:00</td>
				<td class="m">ACTORS ON STAGE IN COSTUME<br />
					Stagehands Back from Lunch</td>
			</tr>
			<tr>
				<td class="h">5:00</td>
				<td class="m">Scenic Artists Finish</td>
			</tr>
			<tr>
				<td class="h">5:30</td>
				<td class="m">Actors Dinner<br />
					Wardrobe/Hair Dinner</td>
			</tr>
			<tr>
				<td class="h">5:50</td>
				<td class="m">Stagehands Dinner</td>
			</tr>
			<tr>
				<td class="h">7:00</td>
				<td class="m">Actors Half Hour<br />
					Stagehands/ Wardrobe/ Hair back from dinner</td>
			</tr>
			<tr>
				<td class="h">7:30</td>
				<td class="m">ACTORS ON STAGE IN COSTUME</td>
			</tr>
			<tr>
				<td class="h">11:45</td>
				<td class="m">Actors out of costume</td>
			</tr>
			<tr>
				<td class="h">12:00</td>
				<td class="m">EOD<br />Notes in house</td>
			</tr>
		</table>
	</td>
</tr>
						<!-- END OF THIRD ROW -->  
